In [74]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

In [75]:
train = pd.read_csv("park_data/train_df.csv")
test = pd.read_csv("park_data/test_df.csv")
age_gender = pd.read_csv("park_data/age_gender_info.csv")
sub = pd.read_csv("park_data/sample_submission.csv")

In [76]:
train

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
0,C2515,545,아파트,경상남도,국민임대,33.48,276,17.0,A,9216000,82940,0.0,3.0,624.0,205.0
1,C2515,545,아파트,경상남도,국민임대,39.60,60,17.0,A,12672000,107130,0.0,3.0,624.0,205.0
2,C2515,545,아파트,경상남도,국민임대,39.60,20,17.0,A,12672000,107130,0.0,3.0,624.0,205.0
3,C2515,545,아파트,경상남도,국민임대,46.90,38,17.0,A,18433000,149760,0.0,3.0,624.0,205.0
4,C2515,545,아파트,경상남도,국민임대,46.90,19,17.0,A,18433000,149760,0.0,3.0,624.0,205.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2864,C2532,239,아파트,강원도,국민임대,49.20,19,7.0,A,11346000,116090,0.0,1.0,166.0,146.0
2865,C2532,239,아파트,강원도,국민임대,51.08,34,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2866,C2532,239,아파트,강원도,국민임대,51.73,34,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2867,C2532,239,아파트,강원도,국민임대,51.96,114,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2868,C2532,239,아파트,강원도,국민임대,54.95,19,7.0,A,14830000,151030,0.0,1.0,166.0,146.0

In [77]:
test

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수
0,C1072,754,아파트,경기도,국민임대,39.79,116,14.0,H,22830000,189840,0.0,2.0,683.0
1,C1072,754,아파트,경기도,국민임대,46.81,30,14.0,A,36048000,249930,0.0,2.0,683.0
2,C1072,754,아파트,경기도,국민임대,46.90,112,14.0,H,36048000,249930,0.0,2.0,683.0
3,C1072,754,아파트,경기도,국민임대,46.90,120,14.0,H,36048000,249930,0.0,2.0,683.0
4,C1072,754,아파트,경기도,국민임대,51.46,60,14.0,H,43497000,296780,0.0,2.0,683.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1003,C1267,675,아파트,경상남도,행복주택,36.77,126,38.0,L,-,-,0.0,1.0,467.0
1004,C2189,382,아파트,전라북도,국민임대,29.19,96,45.0,H,6872000,106400,0.0,2.0,300.0
1005,C2189,382,아파트,전라북도,국민임대,29.19,20,45.0,H,6872000,106400,0.0,2.0,300.0
1006,C2189,382,아파트,전라북도,국민임대,39.45,202,45.0,H,13410000,144600,0.0,2.0,300.0
1007,C2189,382,아파트,전라북도,국민임대,46.23,60,45.0,H,18689000,166500,0.0,2.0,300.0

In [78]:
train.describe().T

,count,mean,std,min,25%,50%,75%,max
총세대수,2869.0,887.654235,517.795084,26.00,514.0,775.00,1105.00,2568.0
전용면적,2869.0,44.421394,32.072217,12.62,32.1,39.84,51.05,583.4
전용면적별세대수,2869.0,102.699895,133.287517,1.00,14.0,60.00,142.00,1865.0
공가수,2869.0,12.915999,10.679931,0.00,4.0,11.00,20.00,55.0
도보 10분거리 내 지하철역 수(환승노선 수 반영),2662.0,0.181818,0.432606,0.00,0.0,0.00,0.00,3.0
도보 10분거리 내 버스정류장 수,2869.0,3.709655,2.676486,0.00,2.0,3.00,4.00,20.0
단지내주차면수,2869.0,591.934472,391.292702,13.00,277.0,500.00,812.00,1798.0
등록차량수,2869.0,550.127571,430.465261,13.00,209.0,479.00,761.00,2550.0

In [79]:
test.describe().T

,count,mean,std,min,25%,50%,75%,max
총세대수,1008.0,869.378968,535.908018,75.00,492.50,754.00,1161.00,2572.0
전용면적,1008.0,43.788462,36.105647,9.96,33.15,39.72,47.41,583.4
전용면적별세대수,1008.0,101.093254,126.674450,1.00,14.00,60.00,140.00,1341.0
공가수,1008.0,15.630952,11.116013,0.00,6.00,16.00,23.00,45.0
도보 10분거리 내 지하철역 수(환승노선 수 반영),970.0,0.138144,0.437519,0.00,0.00,0.00,0.00,2.0
도보 10분거리 내 버스정류장 수,1008.0,4.597222,5.391566,1.00,2.00,3.00,5.00,50.0
단지내주차면수,1008.0,546.678571,341.278739,29.00,286.00,458.00,706.50,1696.0

### train 과 test 의 평균 & 편차가 큰차이는 없다.

In [80]:
columns =['임대건물구분','지역','공급유형','자격유형']

for i in columns:
    result = list(set(train[i].unique())-set(test[i].unique()))
    print('train - test 차집합:',i+":",result)

train - test 차집합: 임대건물구분: []
train - test 차집합: 지역: ['서울특별시']
train - test 차집합: 공급유형: ['장기전세', '공공임대(5년)', '공공분양']
train - test 차집합: 자격유형: ['O', 'F', 'B']

### train에만 있는 데이터 유형 값들 제거 vs 다른 값으로 대체

In [81]:
train = train.loc[~(train['지역'] =='서울특별시'),:]
train

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
0,C2515,545,아파트,경상남도,국민임대,33.48,276,17.0,A,9216000,82940,0.0,3.0,624.0,205.0
1,C2515,545,아파트,경상남도,국민임대,39.60,60,17.0,A,12672000,107130,0.0,3.0,624.0,205.0
2,C2515,545,아파트,경상남도,국민임대,39.60,20,17.0,A,12672000,107130,0.0,3.0,624.0,205.0
3,C2515,545,아파트,경상남도,국민임대,46.90,38,17.0,A,18433000,149760,0.0,3.0,624.0,205.0
4,C2515,545,아파트,경상남도,국민임대,46.90,19,17.0,A,18433000,149760,0.0,3.0,624.0,205.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2864,C2532,239,아파트,강원도,국민임대,49.20,19,7.0,A,11346000,116090,0.0,1.0,166.0,146.0
2865,C2532,239,아파트,강원도,국민임대,51.08,34,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2866,C2532,239,아파트,강원도,국민임대,51.73,34,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2867,C2532,239,아파트,강원도,국민임대,51.96,114,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2868,C2532,239,아파트,강원도,국민임대,54.95,19,7.0,A,14830000,151030,0.0,1.0,166.0,146.0

In [82]:
train = train.loc[~((train['공급유형'] =='공공분양')|(train['공급유형'] =='장기전세')|
                  (train['공급유형'] =='공공임대(5년)')),:]
test

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수
0,C1072,754,아파트,경기도,국민임대,39.79,116,14.0,H,22830000,189840,0.0,2.0,683.0
1,C1072,754,아파트,경기도,국민임대,46.81,30,14.0,A,36048000,249930,0.0,2.0,683.0
2,C1072,754,아파트,경기도,국민임대,46.90,112,14.0,H,36048000,249930,0.0,2.0,683.0
3,C1072,754,아파트,경기도,국민임대,46.90,120,14.0,H,36048000,249930,0.0,2.0,683.0
4,C1072,754,아파트,경기도,국민임대,51.46,60,14.0,H,43497000,296780,0.0,2.0,683.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1003,C1267,675,아파트,경상남도,행복주택,36.77,126,38.0,L,-,-,0.0,1.0,467.0
1004,C2189,382,아파트,전라북도,국민임대,29.19,96,45.0,H,6872000,106400,0.0,2.0,300.0
1005,C2189,382,아파트,전라북도,국민임대,29.19,20,45.0,H,6872000,106400,0.0,2.0,300.0
1006,C2189,382,아파트,전라북도,국민임대,39.45,202,45.0,H,13410000,144600,0.0,2.0,300.0
1007,C2189,382,아파트,전라북도,국민임대,46.23,60,45.0,H,18689000,166500,0.0,2.0,300.0

In [83]:
#'B', 'O', 'F'
train = train.loc[~((train['자격유형'] =='B')|(train['자격유형'] =='O')|
                  (train['자격유형'] =='F')),:]
train

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
0,C2515,545,아파트,경상남도,국민임대,33.48,276,17.0,A,9216000,82940,0.0,3.0,624.0,205.0
1,C2515,545,아파트,경상남도,국민임대,39.60,60,17.0,A,12672000,107130,0.0,3.0,624.0,205.0
2,C2515,545,아파트,경상남도,국민임대,39.60,20,17.0,A,12672000,107130,0.0,3.0,624.0,205.0
3,C2515,545,아파트,경상남도,국민임대,46.90,38,17.0,A,18433000,149760,0.0,3.0,624.0,205.0
4,C2515,545,아파트,경상남도,국민임대,46.90,19,17.0,A,18433000,149760,0.0,3.0,624.0,205.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2864,C2532,239,아파트,강원도,국민임대,49.20,19,7.0,A,11346000,116090,0.0,1.0,166.0,146.0
2865,C2532,239,아파트,강원도,국민임대,51.08,34,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2866,C2532,239,아파트,강원도,국민임대,51.73,34,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2867,C2532,239,아파트,강원도,국민임대,51.96,114,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2868,C2532,239,아파트,강원도,국민임대,54.95,19,7.0,A,14830000,151030,0.0,1.0,166.0,146.0

## 빠진 데이터
### 지역 =서울특별시 : 50개 
### 공급유형 = '공공분양', '장기전세', '공공임대(5년)' : 10개
### 자역유형 = 'B', 'O', 'F' : 25개

In [84]:
train.columns = ['단지코드', '총세대수', '임대건물구분', '지역', '공급유형', '전용면적', '전용면적별세대수', '공가수',
       '자격유형', '임대보증금', '임대료', '지하철수',
       '버정수', '단지내주차면수', '등록차량수']

test.columns = ['단지코드', '총세대수', '임대건물구분', '지역', '공급유형', '전용면적', '전용면적별세대수', '공가수',
       '자격유형', '임대보증금', '임대료', '지하철수',
       '버정수', '단지내주차면수']

In [85]:
train.isnull().sum()

단지코드          0
총세대수          0
임대건물구분        0
지역            0
공급유형          0
전용면적          0
전용면적별세대수      0
공가수           0
자격유형          0
임대보증금       562
임대료         562
지하철수        200
버정수           0
단지내주차면수       0
등록차량수         0
dtype: int64

In [86]:
test.isnull().sum()

단지코드          0
총세대수          0
임대건물구분        0
지역            0
공급유형          0
전용면적          0
전용면적별세대수      0
공가수           0
자격유형          2
임대보증금       180
임대료         180
지하철수         38
버정수           0
단지내주차면수       0
dtype: int64

In [87]:
test[test['자격유형'].isnull()]

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철수,버정수,단지내주차면수
196,C2411,962,아파트,경상남도,국민임대,46.90,240,25.0,NaN,71950000,37470,0.0,2.0,840.0
258,C2253,1161,아파트,강원도,영구임대,26.37,745,0.0,NaN,2249000,44770,0.0,2.0,173.0

In [88]:
test.loc[test['자격유형'].isnull() & test['단지코드'].isin(['C2411']) ,'자격유형'] = 'A'

In [89]:
test.loc[test['자격유형'].isnull() & test['단지코드'].isin(['C2253']) ,'자격유형'] = 'C'

In [90]:
test[test['자격유형'].isnull()]

Empty DataFrame
Columns: [단지코드, 총세대수, 임대건물구분, 지역, 공급유형, 전용면적, 전용면적별세대수, 공가수, 자격유형, 임대보증금, 임대료, 지하철수, 버정수, 단지내주차면수]
Index: []

### index값 맞춰주고

In [91]:
train

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철수,버정수,단지내주차면수,등록차량수
0,C2515,545,아파트,경상남도,국민임대,33.48,276,17.0,A,9216000,82940,0.0,3.0,624.0,205.0
1,C2515,545,아파트,경상남도,국민임대,39.60,60,17.0,A,12672000,107130,0.0,3.0,624.0,205.0
2,C2515,545,아파트,경상남도,국민임대,39.60,20,17.0,A,12672000,107130,0.0,3.0,624.0,205.0
3,C2515,545,아파트,경상남도,국민임대,46.90,38,17.0,A,18433000,149760,0.0,3.0,624.0,205.0
4,C2515,545,아파트,경상남도,국민임대,46.90,19,17.0,A,18433000,149760,0.0,3.0,624.0,205.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2864,C2532,239,아파트,강원도,국민임대,49.20,19,7.0,A,11346000,116090,0.0,1.0,166.0,146.0
2865,C2532,239,아파트,강원도,국민임대,51.08,34,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2866,C2532,239,아파트,강원도,국민임대,51.73,34,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2867,C2532,239,아파트,강원도,국민임대,51.96,114,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2868,C2532,239,아파트,강원도,국민임대,54.95,19,7.0,A,14830000,151030,0.0,1.0,166.0,146.0

In [92]:
train.reset_index(inplace=True)
train

,index,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철수,버정수,단지내주차면수,등록차량수
0,0,C2515,545,아파트,경상남도,국민임대,33.48,276,17.0,A,9216000,82940,0.0,3.0,624.0,205.0
1,1,C2515,545,아파트,경상남도,국민임대,39.60,60,17.0,A,12672000,107130,0.0,3.0,624.0,205.0
2,2,C2515,545,아파트,경상남도,국민임대,39.60,20,17.0,A,12672000,107130,0.0,3.0,624.0,205.0
3,3,C2515,545,아파트,경상남도,국민임대,46.90,38,17.0,A,18433000,149760,0.0,3.0,624.0,205.0
4,4,C2515,545,아파트,경상남도,국민임대,46.90,19,17.0,A,18433000,149760,0.0,3.0,624.0,205.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2779,2864,C2532,239,아파트,강원도,국민임대,49.20,19,7.0,A,11346000,116090,0.0,1.0,166.0,146.0
2780,2865,C2532,239,아파트,강원도,국민임대,51.08,34,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2781,2866,C2532,239,아파트,강원도,국민임대,51.73,34,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2782,2867,C2532,239,아파트,강원도,국민임대,51.96,114,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2783,2868,C2532,239,아파트,강원도,국민임대,54.95,19,7.0,A,14830000,151030,0.0,1.0,166.0,146.0

In [93]:
del train['index']

In [94]:
train

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철수,버정수,단지내주차면수,등록차량수
0,C2515,545,아파트,경상남도,국민임대,33.48,276,17.0,A,9216000,82940,0.0,3.0,624.0,205.0
1,C2515,545,아파트,경상남도,국민임대,39.60,60,17.0,A,12672000,107130,0.0,3.0,624.0,205.0
2,C2515,545,아파트,경상남도,국민임대,39.60,20,17.0,A,12672000,107130,0.0,3.0,624.0,205.0
3,C2515,545,아파트,경상남도,국민임대,46.90,38,17.0,A,18433000,149760,0.0,3.0,624.0,205.0
4,C2515,545,아파트,경상남도,국민임대,46.90,19,17.0,A,18433000,149760,0.0,3.0,624.0,205.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2779,C2532,239,아파트,강원도,국민임대,49.20,19,7.0,A,11346000,116090,0.0,1.0,166.0,146.0
2780,C2532,239,아파트,강원도,국민임대,51.08,34,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2781,C2532,239,아파트,강원도,국민임대,51.73,34,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2782,C2532,239,아파트,강원도,국민임대,51.96,114,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2783,C2532,239,아파트,강원도,국민임대,54.95,19,7.0,A,14830000,151030,0.0,1.0,166.0,146.0

In [95]:
train[train['임대보증금'].isnull()]

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철수,버정수,단지내주차면수,등록차량수
74,C1925,601,상가,강원도,임대상가,32.10,1,9.0,D,NaN,NaN,0.0,4.0,117.0,75.0
75,C1925,601,상가,강원도,임대상가,32.10,1,9.0,D,NaN,NaN,0.0,4.0,117.0,75.0
76,C1925,601,상가,강원도,임대상가,32.10,1,9.0,D,NaN,NaN,0.0,4.0,117.0,75.0
77,C1925,601,상가,강원도,임대상가,72.16,1,9.0,D,NaN,NaN,0.0,4.0,117.0,75.0
87,C1874,619,상가,충청남도,임대상가,12.62,1,2.0,D,NaN,NaN,NaN,2.0,97.0,62.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
817,C2571,481,상가,경상남도,임대상가,31.84,1,5.0,D,NaN,NaN,0.0,1.0,65.0,62.0
818,C2571,481,상가,경상남도,임대상가,31.84,1,5.0,D,NaN,NaN,0.0,1.0,65.0,62.0
819,C2571,481,상가,경상남도,임대상가,31.84,1,5.0,D,NaN,NaN,0.0,1.0,65.0,62.0
820,C2571,481,상가,경상남도,임대상가,31.84,1,5.0,D,NaN,NaN,0.0,1.0,65.0,62.0
821,C2571,481,상가,경상남도,임대상가,126.65,1,5.0,D,NaN,NaN,0.0,1.0,65.0,62.0

In [96]:
train[train['임대료'].isnull()]

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철수,버정수,단지내주차면수,등록차량수
74,C1925,601,상가,강원도,임대상가,32.10,1,9.0,D,NaN,NaN,0.0,4.0,117.0,75.0
75,C1925,601,상가,강원도,임대상가,32.10,1,9.0,D,NaN,NaN,0.0,4.0,117.0,75.0
76,C1925,601,상가,강원도,임대상가,32.10,1,9.0,D,NaN,NaN,0.0,4.0,117.0,75.0
77,C1925,601,상가,강원도,임대상가,72.16,1,9.0,D,NaN,NaN,0.0,4.0,117.0,75.0
87,C1874,619,상가,충청남도,임대상가,12.62,1,2.0,D,NaN,NaN,NaN,2.0,97.0,62.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
817,C2571,481,상가,경상남도,임대상가,31.84,1,5.0,D,NaN,NaN,0.0,1.0,65.0,62.0
818,C2571,481,상가,경상남도,임대상가,31.84,1,5.0,D,NaN,NaN,0.0,1.0,65.0,62.0
819,C2571,481,상가,경상남도,임대상가,31.84,1,5.0,D,NaN,NaN,0.0,1.0,65.0,62.0
820,C2571,481,상가,경상남도,임대상가,31.84,1,5.0,D,NaN,NaN,0.0,1.0,65.0,62.0
821,C2571,481,상가,경상남도,임대상가,126.65,1,5.0,D,NaN,NaN,0.0,1.0,65.0,62.0

In [97]:
train.iloc[70:83,:]

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철수,버정수,단지내주차면수,등록차량수
70,C2202,623,아파트,강원도,공공임대(50년),42.90,354,0.0,A,10244000,152280,0.0,2.0,222.0,226.0
71,C2202,623,아파트,강원도,공공임대(50년),49.44,180,0.0,A,11807000,171230,0.0,2.0,222.0,226.0
72,C1925,601,아파트,강원도,영구임대,26.37,298,9.0,C,8052000,130850,0.0,4.0,117.0,75.0
73,C1925,601,아파트,강원도,영구임대,31.32,298,9.0,C,9174000,144460,0.0,4.0,117.0,75.0
74,C1925,601,상가,강원도,임대상가,32.10,1,9.0,D,NaN,NaN,0.0,4.0,117.0,75.0
75,C1925,601,상가,강원도,임대상가,32.10,1,9.0,D,NaN,NaN,0.0,4.0,117.0,75.0
76,C1925,601,상가,강원도,임대상가,32.10,1,9.0,D,NaN,NaN,0.0,4.0,117.0,75.0
77,C1925,601,상가,강원도,임대상가,72.16,1,9.0,D,NaN,NaN,0.0,4.0,117.0,75.0
78,C2576,405,아파트,경상남도,국민임대,46.90,313,19.0,A,19436000,161780,0.0,4.0,296.0,73.0
79,C2576,405,아파트,경상남도,국민임대,59.88,92,19.0,A,28252000,235420,0.0,4.0,296.0,73.0
80,C1312,518,아파트,충청남도,국민임대,39.72,60,12.0,A,17460000,122210,NaN,3.0,527.0,359.0
81,C1312,518,아파트,충청남도,국민임대,39.98,89,12.0,A,17460000,122210,NaN,3.0,527.0,359.0
82,C1312,518,아파트,충청남도,국민임대,41.55,225,12.0,A,19954000,130940,NaN,3.0,527.0,359.0

In [98]:
test[test['임대보증금'].isnull()]

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철수,버정수,단지내주차면수
76,C1006,1505,아파트,대전광역시,영구임대,26.37,10,27.0,D,NaN,NaN,2.0,5.0,428.0
77,C1006,1505,아파트,대전광역시,영구임대,26.37,10,27.0,D,NaN,NaN,2.0,5.0,428.0
79,C1006,1505,아파트,대전광역시,영구임대,52.74,6,27.0,D,NaN,NaN,2.0,5.0,428.0
80,C1006,1505,상가,대전광역시,임대상가,38.00,1,27.0,D,NaN,NaN,2.0,5.0,428.0
81,C1006,1505,상가,대전광역시,임대상가,38.00,1,27.0,D,NaN,NaN,2.0,5.0,428.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
328,C1729,627,상가,강원도,임대상가,32.46,1,0.0,D,NaN,NaN,0.0,5.0,131.0
329,C1729,627,상가,강원도,임대상가,34.86,1,0.0,D,NaN,NaN,0.0,5.0,131.0
330,C1729,627,상가,강원도,임대상가,35.76,1,0.0,D,NaN,NaN,0.0,5.0,131.0
331,C1729,627,상가,강원도,임대상가,50.08,1,0.0,D,NaN,NaN,0.0,5.0,131.0
332,C1729,627,상가,강원도,임대상가,240.22,1,0.0,D,NaN,NaN,0.0,5.0,131.0

In [99]:
test[test['임대료'].isnull()]

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철수,버정수,단지내주차면수
76,C1006,1505,아파트,대전광역시,영구임대,26.37,10,27.0,D,NaN,NaN,2.0,5.0,428.0
77,C1006,1505,아파트,대전광역시,영구임대,26.37,10,27.0,D,NaN,NaN,2.0,5.0,428.0
79,C1006,1505,아파트,대전광역시,영구임대,52.74,6,27.0,D,NaN,NaN,2.0,5.0,428.0
80,C1006,1505,상가,대전광역시,임대상가,38.00,1,27.0,D,NaN,NaN,2.0,5.0,428.0
81,C1006,1505,상가,대전광역시,임대상가,38.00,1,27.0,D,NaN,NaN,2.0,5.0,428.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
328,C1729,627,상가,강원도,임대상가,32.46,1,0.0,D,NaN,NaN,0.0,5.0,131.0
329,C1729,627,상가,강원도,임대상가,34.86,1,0.0,D,NaN,NaN,0.0,5.0,131.0
330,C1729,627,상가,강원도,임대상가,35.76,1,0.0,D,NaN,NaN,0.0,5.0,131.0
331,C1729,627,상가,강원도,임대상가,50.08,1,0.0,D,NaN,NaN,0.0,5.0,131.0
332,C1729,627,상가,강원도,임대상가,240.22,1,0.0,D,NaN,NaN,0.0,5.0,131.0

In [100]:
train.loc[train.임대보증금=='-', '임대보증금'] = np.nan
test.loc[test.임대보증금=='-', '임대보증금'] = np.nan
train['임대보증금'] = train['임대보증금'].astype(float)
test['임대보증금'] = test['임대보증금'].astype(float)

train.loc[train.임대료=='-', '임대료'] = np.nan
test.loc[test.임대료=='-', '임대료'] = np.nan
train['임대료'] = train['임대료'].astype(float)
test['임대료'] = test['임대료'].astype(float)

In [101]:
train[['임대보증금', '임대료']] = train[['임대보증금', '임대료']].fillna(0)
test[['임대보증금', '임대료']] = test[['임대보증금', '임대료']].fillna(0)

In [102]:
train[['지하철수']] = train[['지하철수']].fillna(0)
test[['지하철수']] = test[['지하철수']].fillna(0)

In [103]:
train.isnull().sum()

단지코드        0
총세대수        0
임대건물구분      0
지역          0
공급유형        0
전용면적        0
전용면적별세대수    0
공가수         0
자격유형        0
임대보증금       0
임대료         0
지하철수        0
버정수         0
단지내주차면수     0
등록차량수       0
dtype: int64

In [104]:
test.isnull().sum()

단지코드        0
총세대수        0
임대건물구분      0
지역          0
공급유형        0
전용면적        0
전용면적별세대수    0
공가수         0
자격유형        0
임대보증금       0
임대료         0
지하철수        0
버정수         0
단지내주차면수     0
dtype: int64

In [105]:
train

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철수,버정수,단지내주차면수,등록차량수
0,C2515,545,아파트,경상남도,국민임대,33.48,276,17.0,A,9216000.0,82940.0,0.0,3.0,624.0,205.0
1,C2515,545,아파트,경상남도,국민임대,39.60,60,17.0,A,12672000.0,107130.0,0.0,3.0,624.0,205.0
2,C2515,545,아파트,경상남도,국민임대,39.60,20,17.0,A,12672000.0,107130.0,0.0,3.0,624.0,205.0
3,C2515,545,아파트,경상남도,국민임대,46.90,38,17.0,A,18433000.0,149760.0,0.0,3.0,624.0,205.0
4,C2515,545,아파트,경상남도,국민임대,46.90,19,17.0,A,18433000.0,149760.0,0.0,3.0,624.0,205.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2779,C2532,239,아파트,강원도,국민임대,49.20,19,7.0,A,11346000.0,116090.0,0.0,1.0,166.0,146.0
2780,C2532,239,아파트,강원도,국민임대,51.08,34,7.0,A,14005000.0,142310.0,0.0,1.0,166.0,146.0
2781,C2532,239,아파트,강원도,국민임대,51.73,34,7.0,A,14005000.0,142310.0,0.0,1.0,166.0,146.0
2782,C2532,239,아파트,강원도,국민임대,51.96,114,7.0,A,14005000.0,142310.0,0.0,1.0,166.0,146.0
2783,C2532,239,아파트,강원도,국민임대,54.95,19,7.0,A,14830000.0,151030.0,0.0,1.0,166.0,146.0

In [106]:
train.자격유형.unique(),test.자격유형.unique()

(array(['A', 'C', 'D', 'E', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N'],
       dtype=object),
 array(['H', 'A', 'E', 'C', 'D', 'G', 'I', 'J', 'K', 'L', 'M', 'N'],
       dtype=object))

In [107]:
mapping = { 'A':1, 'C':2, 'D':3, 'E':4,
            'G':5, 'H':6, 'I':7, 'J':8,
            'K':9, 'L':10, 'M':11, 'N':12  }
train['자격유형'] =train['자격유형'].map(mapping).astype(int)
test['자격유형'] =test['자격유형'].map(mapping).astype(int)

In [108]:
train.지역.unique(),test.지역.unique()

(array(['경상남도', '대전광역시', '전라북도', '경기도', '강원도', '광주광역시', '충청남도', '부산광역시',
        '제주특별자치도', '울산광역시', '충청북도', '전라남도', '경상북도', '대구광역시', '세종특별자치시'],
       dtype=object),
 array(['경기도', '부산광역시', '전라북도', '경상남도', '충청남도', '대전광역시', '제주특별자치도', '강원도',
        '울산광역시', '경상북도', '충청북도', '광주광역시', '전라남도', '대구광역시', '세종특별자치시'],
       dtype=object))

In [109]:
map_region = {'경상북도':1, '경상남도':2, '대전광역시':3, '경기도':4, '전라북도':5,
              '강원도':6, '광주광역시':7, '충청남도':8, '부산광역시':9, '제주특별자치도':10,
            '울산광역시':11, '충청북도':12, '전라남도':13, '대구광역시':14, '세종특별자치시':15}
train["지역"] = train['지역'].map(map_region).astype(int)
test["지역"] = test['지역'].map(map_region).astype(int)

In [110]:
train.공급유형.unique(),test.공급유형.unique()

(array(['국민임대', '공공임대(50년)', '영구임대', '임대상가', '공공임대(10년)', '공공임대(분납)',
        '행복주택'], dtype=object),
 array(['국민임대', '영구임대', '임대상가', '공공임대(50년)', '공공임대(10년)', '공공임대(분납)',
        '행복주택'], dtype=object))

In [111]:
map3 = {'국민임대':1, '공공임대(50년)':2, '영구임대':3, '임대상가':4, '공공임대(10년)':5,
              '공공임대(분납)':6, '행복주택':7}
train["공급유형"] = train['공급유형'].map(map3).astype(int)
test["공급유형"] = test['공급유형'].map(map3).astype(int)

In [112]:
train.임대건물구분.unique(),test.임대건물구분.unique()

(array(['아파트', '상가'], dtype=object), array(['아파트', '상가'], dtype=object))

In [113]:
map4 = {'아파트':1, '상가':2}
train["임대건물구분"] = train['임대건물구분'].map(map4).astype(int)
test["임대건물구분"] = test['임대건물구분'].map(map4).astype(int)

In [114]:
train['단지코드'] = train['단지코드'].astype("category")
train['단지코드_lbl'] = train['단지코드'].cat.codes

test['단지코드'] = test['단지코드'].astype("category")
test['단지코드_lbl'] = test['단지코드'].cat.codes

train['전용면적별세대수'] = train['전용면적별세대수'].astype('float32')
test['전용면적별세대수'] = test['전용면적별세대수'].astype('float32')

train['qcut_총세대수'] = pd.qcut(train['총세대수'], 5, labels=False)
test['qcut_총세대수'] = pd.qcut(test['총세대수'], 5, labels=False)

In [115]:
group1 = ['C1925', 'C1312', 'C2013', 'C1424', 'C2520', 'C2319', 'C1850', 'C1068', 'C2644', 'C2156', 
          'C2453', 'C1910', 'C2139', 'C2508', 'C1695', 'C2556', 'C2362', 'C2568', 'C2245', 'C2549', 
          'C1584', 'C2298', 'C2225', 'C1218', 'C1970', 'C1732', 'C2433', 'C1894', 'C1156', 'C2142', 
          'C2186', 'C2411', 'C1812', 'C1030', 'C1749', 'C1349', 'C2043', 'C1229', 'C2363', 'C1414', 
          'C2174', 'C2404', 'C1683', 'C1038', 'C2456', 'C1266', 'C1267', 'C2189' ]

for one1 in group1:
    train.loc[ train['단지코드'] == one1, "단지코드_Type" ] = 1
    test.loc[ test['단지코드'] == one1, "단지코드_Type" ] = 1

In [116]:
train['단지코드_Type'].unique()

array([nan,  1.])

In [117]:
train.loc[train['단지코드_Type'].isna(), "단지코드_Type"] = 3
test.loc[test['단지코드_Type'].isna(), "단지코드_Type"] = 3

In [118]:
train['log_등록차량수'] = np.log1p(train['등록차량수'])

In [119]:
print("등록차량수 상관계수 : ", train.corr()['등록차량수'])
print()
print("log_등록차량수 상관계수 ; ", train.corr()['log_등록차량수'])

등록차량수 상관계수 :  총세대수         0.329727
임대건물구분      -0.453667
지역           0.007579
공급유형        -0.203003
전용면적         0.094200
전용면적별세대수     0.270474
공가수          0.152085
자격유형        -0.130829
임대보증금        0.477992
임대료          0.579891
지하철수        -0.079567
버정수          0.107023
단지내주차면수      0.855165
등록차량수        1.000000
단지코드_lbl    -0.083732
qcut_총세대수    0.388597
단지코드_Type    0.130553
log_등록차량수    0.883097
Name: 등록차량수, dtype: float64

log_등록차량수 상관계수 ;  총세대수         0.224468
임대건물구분      -0.594973
지역           0.032143
공급유형        -0.373584
전용면적         0.099393
전용면적별세대수     0.288587
공가수          0.224739
자격유형        -0.209056
임대보증금        0.503462
임대료          0.591467
지하철수        -0.087584
버정수          0.082868
단지내주차면수      0.801011
등록차량수        0.883097
단지코드_lbl    -0.077704
qcut_총세대수    0.294303
단지코드_Type    0.103888
log_등록차량수    1.000000
Name: log_등록차량수, dtype: float64

In [120]:
test

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철수,버정수,단지내주차면수,단지코드_lbl,qcut_총세대수,단지코드_Type
0,C1072,754,1,4,1,39.79,116.0,14.0,6,22830000.0,189840.0,0.0,2.0,683.0,10,2,3.0
1,C1072,754,1,4,1,46.81,30.0,14.0,1,36048000.0,249930.0,0.0,2.0,683.0,10,2,3.0
2,C1072,754,1,4,1,46.90,112.0,14.0,6,36048000.0,249930.0,0.0,2.0,683.0,10,2,3.0
3,C1072,754,1,4,1,46.90,120.0,14.0,6,36048000.0,249930.0,0.0,2.0,683.0,10,2,3.0
4,C1072,754,1,4,1,51.46,60.0,14.0,6,43497000.0,296780.0,0.0,2.0,683.0,10,2,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1003,C1267,675,1,2,7,36.77,126.0,38.0,10,0.0,0.0,0.0,1.0,467.0,29,2,1.0
1004,C2189,382,1,5,1,29.19,96.0,45.0,6,6872000.0,106400.0,0.0,2.0,300.0,106,0,1.0
1005,C2189,382,1,5,1,29.19,20.0,45.0,6,6872000.0,106400.0,0.0,2.0,300.0,106,0,1.0
1006,C2189,382,1,5,1,39.45,202.0,45.0,6,13410000.0,144600.0,0.0,2.0,300.0,106,0,1.0
1007,C2189,382,1,5,1,46.23,60.0,45.0,6,18689000.0,166500.0,0.0,2.0,300.0,106,0,1.0

In [121]:
train

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철수,버정수,단지내주차면수,등록차량수,단지코드_lbl,qcut_총세대수,단지코드_Type,log_등록차량수
0,C2515,545,1,2,1,33.48,276.0,17.0,1,9216000.0,82940.0,0.0,3.0,624.0,205.0,349,1,3.0,5.327876
1,C2515,545,1,2,1,39.60,60.0,17.0,1,12672000.0,107130.0,0.0,3.0,624.0,205.0,349,1,3.0,5.327876
2,C2515,545,1,2,1,39.60,20.0,17.0,1,12672000.0,107130.0,0.0,3.0,624.0,205.0,349,1,3.0,5.327876
3,C2515,545,1,2,1,46.90,38.0,17.0,1,18433000.0,149760.0,0.0,3.0,624.0,205.0,349,1,3.0,5.327876
4,C2515,545,1,2,1,46.90,19.0,17.0,1,18433000.0,149760.0,0.0,3.0,624.0,205.0,349,1,3.0,5.327876
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2779,C2532,239,1,6,1,49.20,19.0,7.0,1,11346000.0,116090.0,0.0,1.0,166.0,146.0,357,0,3.0,4.990433
2780,C2532,239,1,6,1,51.08,34.0,7.0,1,14005000.0,142310.0,0.0,1.0,166.0,146.0,357,0,3.0,4.990433
2781,C2532,239,1,6,1,51.73,34.0,7.0,1,14005000.0,142310.0,0.0,1.0,166.0,146.0,357,0,3.0,4.990433
2782,C2532,239,1,6,1,51.96,114.0,7.0,1,14005000.0,142310.0,0.0,1.0,166.0,146.0,357,0,3.0,4.990433
2783,C2532,239,1,6,1,54.95,19.0,7.0,1,14830000.0,151030.0,0.0,1.0,166.0,146.0,357,0,3.0,4.990433

In [122]:
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import cross_val_score
import lightgbm as lgb
import xgboost as xgb

In [123]:
#'총세대수', '전용면적', '전용면적별세대수','임대건물구분','지역',
#'공급유형', '공가수','지하철수','자격유형', '버정수', '임대보증금','임대료','단지내주차면수'
sel = ['총세대수', '전용면적', '전용면적별세대수','임대건물구분','지역',
'공급유형', '공가수','지하철수','자격유형', '버정수', '임대보증금','임대료',
       '단지내주차면수']

X_train = train[sel]
y_train = train['등록차량수']
X_test = test[sel]

### 선형회귀

In [124]:
model = LinearRegression()
model.fit(X_train, y_train)
pred = model.predict(X_test)

print("학습(score) :", model.score(X_train, y_train) ) # 결정계수

학습(score) : 0.8030315827384268

In [49]:
model = Lasso(alpha=10)
model.fit(X_train, y_train)
pred = model.predict(X_test)

print("학습(score) :", model.score(X_train, y_train) ) # 결정계수

학습(score) : 0.7988182606928171

In [186]:
alpha_p = [0, 0.00001, 0.0001, 0.001, 0.01, 0.1, 1, 5, 10]

for p in alpha_p:
    lasso = Lasso(alpha=p).fit(X_train, y_train)
    tr_score = lasso.score(X_train, y_train)
    print("alpha : {} 학습 : {}".format(p,tr_score))
    print("유효한 feature 개수 : ", np.sum(lasso.coef_ !=0))

alpha : 0 학습 : 0.8030315827384268
유효한 feature 개수 :  13
alpha : 1e-05 학습 : 0.8030315827384052
유효한 feature 개수 :  13
alpha : 0.0001 학습 : 0.8030315827362687
유효한 feature 개수 :  13
alpha : 0.001 학습 : 0.8030315825226202
유효한 feature 개수 :  13
alpha : 0.01 학습 : 0.803031561157768
유효한 feature 개수 :  13
alpha : 0.1 학습 : 0.8030294246725975
유효한 feature 개수 :  13
alpha : 1 학습 : 0.8029457661658495
유효한 feature 개수 :  12
alpha : 5 학습 : 0.8018769088854443
유효한 feature 개수 :  12
alpha : 10 학습 : 0.7988182606928171
유효한 feature 개수 :  11

<ipython-input-186-94d9d9441cb8>:4: UserWarning: With alpha=0, this algorithm does not converge well. You are advised to use the LinearRegression estimator
  lasso = Lasso(alpha=p).fit(X_train, y_train)
C:\Users\wnsau\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: UserWarning: Coordinate descent with no regularization may lead to unexpected results and is discouraged.
  model = cd_fast.enet_coordinate_descent(
C:\Users\wnsau\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 49870968.531511664, tolerance: 50638.54319881466
  model = cd_fast.enet_coordinate_descent(

In [77]:
model = Ridge(alpha=10)
model.fit(X_train, y_train)
pred = model.predict(X_test)

print("학습(score) :", model.score(X_train, y_train) ) # 결정계수

학습(score) : 0.8030296461648203

In [188]:
alpha_p = [0, 0.00001, 0.0001, 0.001, 0.01, 0.1, 1, 5, 10]

for p in alpha_p:
    ridge = Ridge(alpha=p).fit(X_train, y_train)
    tr_score = ridge.score(X_train, y_train)
    print("alpha : {} 학습 : {}".format(p,tr_score))

C:\Users\wnsau\anaconda3\lib\site-packages\sklearn\linear_model\_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=1.0772e-16): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,

alpha : 0 학습 : 0.8030315827384268
alpha : 1e-05 학습 : 0.8030315827384268
alpha : 0.0001 학습 : 0.8030315827384266
alpha : 0.001 학습 : 0.803031582738406
alpha : 0.01 학습 : 0.803031582736358
alpha : 0.1 학습 : 0.8030315825316734
alpha : 1 학습 : 0.8030315621904172
alpha : 5 학습 : 0.8030310826618762
alpha : 10 학습 : 0.8030296461648203

C:\Users\wnsau\anaconda3\lib\site-packages\sklearn\linear_model\_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=1.07721e-16): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,
C:\Users\wnsau\anaconda3\lib\site-packages\sklearn\linear_model\_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=1.07721e-16): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,
C:\Users\wnsau\anaconda3\lib\site-packages\sklearn\linear_model\_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=1.07721e-16): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,
C:\Users\wnsau\anaconda3\lib\site-packages\sklearn\linear_model\_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=1.0773e-16): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,
C:\Users\wnsau\anaconda3\lib\site-packages\sklearn\linear_model\_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=1.07818e-16): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,
C:\Users\wnsau\anaconda3\lib\site-packages\sklearn\linear_model\_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=1.08695e-16): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,

In [65]:
m_lgbm1 = lgb.LGBMRegressor()
m_lgbm1.fit(X_train, y_train)
pred = m_lgbm1.predict(X_test)
print("학습(score) :", m_lgbm1.score(X_train, y_train) ) # 결정계수

학습(score) : 0.9956913716399516

In [64]:
xg_reg = xgb.XGBRegressor(objective ='reg:linear',
            colsample_bytree = 0.3, # 각나무마다 사용하는 feature 비율
            learning_rate = 0.1,
            max_depth = 3,
            alpha = 0.1,
            n_estimators = 100)
xg_reg.fit(X_train, y_train)
pred = xg_reg.predict(X_test)
print("학습(score) :", xg_reg.score(X_train, y_train) ) # 결정계수

[11:43:15] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/objective/regression_obj.cu:171: reg:linear is now deprecated in favor of reg:squarederror.
학습(score) : 0.9343796501131783

In [125]:
import time

In [126]:
model = RandomForestRegressor(n_jobs=-1)
model.fit(X_train, y_train)
pred = model.predict(X_test)

print("학습(score) :", model.score(X_train, y_train) ) # 결정계수

학습(score) : 0.9992425765705895

In [130]:
hyperparameters = {'boosting_type': 'gbdt', 
                   'colsample_bytree': 0.7250136792694301, 
                   'is_unbalance': False, 
                   'learning_rate': 0.013,
                   'min_child_samples': 20, 
                   'num_leaves': 56,
                   'subsample': 0.5233384321711397, 
                   'n_estimators': 2000}

In [131]:
import lightgbm as lgb 

now_time = time.time()

m_lgbm1 = lgb.LGBMRegressor(**hyperparameters)
m_lgbm1.fit(X_train, y_train)
score = cross_val_score(m_lgbm1, X_train, y_train, 
                        cv=5, scoring="neg_mean_absolute_error")

m_score = np.abs(score.mean())  # 절대값
pro_time = time.time() - now_time

print(pro_time)  # 걸린 시간
print("LightGBM Score : {}".format(m_score))  # 점수

39.52790951728821
LightGBM Score : 180.4299107573768

In [132]:
hyperparameters = {'boosting_type': 'gbdt', 
                   'colsample_bytree': 0.7250136792694301, 
                   'is_unbalance': False, 
                   'learning_rate': 0.013,
                   'min_child_samples': 20, 
                   'num_leaves': 56,
                   'subsample': 0.5233384321711397, 
                   'n_estimators': 1000}

model_last = lgb.LGBMRegressor(**hyperparameters)
model_last.fit(X_train, y_train)
pred = model_last.predict(X_test)
pred[0:10]

array([ 724.11744334,  740.74618498,  707.76712274,  707.5042113 ,
        710.81467651,  710.11523733,  698.38369921,  714.31790899,
       1036.3628185 , 1024.53548923])

In [68]:
pred

array([720.37765384, 737.05405084, 707.16972908, ..., 276.90501856,
       231.6704774 , 227.03567459])

In [133]:
test['등록차량수'] = pred
test['코드별차량수평균'] = test.groupby('단지코드')['등록차량수'].transform(np.mean)
test_new = test.drop_duplicates(['단지코드'], keep='first').reset_index()
test_new

,index,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철수,버정수,단지내주차면수,단지코드_lbl,qcut_총세대수,단지코드_Type,등록차량수,코드별차량수평균
0,0,C1072,754,1,4,1,39.79,116.0,14.0,6,22830000.0,189840.0,0.0,2.0,683.0,10,2,3.0,724.117443,714.220811
1,8,C1128,1354,1,4,1,39.79,368.0,9.0,6,22830000.0,189840.0,0.0,3.0,1216.0,13,4,3.0,1036.362819,1023.914933
2,17,C1456,619,1,9,1,33.40,82.0,18.0,1,19706000.0,156200.0,0.0,16.0,547.0,43,1,3.0,561.849117,600.277322
3,26,C1840,593,1,5,1,39.57,253.0,7.0,1,14418000.0,108130.0,0.0,3.0,543.0,82,1,3.0,531.238062,542.934268
4,30,C1332,1297,1,4,1,39.99,282.0,11.0,6,28598000.0,203050.0,0.0,2.0,1112.0,37,4,3.0,965.524512,962.161388
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142,982,C2456,349,1,10,1,26.44,24.0,17.0,6,6992000.0,117000.0,0.0,4.0,270.0,130,0,1.0,239.580774,228.138272
143,986,C1266,596,1,12,1,26.94,164.0,35.0,6,8084000.0,149910.0,0.0,1.0,593.0,28,1,1.0,463.632797,466.717942
144,991,C2152,120,1,6,3,24.83,66.0,9.0,2,0.0,0.0,0.0,1.0,40.0,102,0,3.0,16.884364,16.520150
145,993,C1267,675,1,2,1,24.87,28.0,38.0,6,6882000.0,104370.0,0.0,1.0,467.0,29,2,1.0,435.614221,404.115089
146,1004,C2189,382,1,5,1,29.19,96.0,45.0,6,6872000.0,106400.0,0.0,2.0,300.0,106,0,1.0,265.413373,245.958297

In [134]:
sub_df = test_new[ ['단지코드', '코드별차량수평균']]
sub_df.columns = ['code', 'num']
sub_df

      code          num
0    C1072   714.220811
1    C1128  1023.914933
2    C1456   600.277322
3    C1840   542.934268
4    C1332   962.161388
..     ...          ...
142  C2456   228.138272
143  C1266   466.717942
144  C2152    16.520150
145  C1267   404.115089
146  C2189   245.958297

[147 rows x 2 columns]

In [135]:
sub_df = sub_df.append({'code':'C2675','num': 0}, ignore_index=True)
sub_df = sub_df.append({'code':'C2335','num': 0}, ignore_index=True)
sub_df = sub_df.append({'code':'C1327','num': 0}, ignore_index=True)
sub_df.tail()

      code         num
145  C1267  404.115089
146  C2189  245.958297
147  C2675    0.000000
148  C2335    0.000000
149  C1327    0.000000

In [136]:
sub_df.to_csv('0721_!seven!_model.csv', index=False)

### 나의 베이스라인 코드를 이용해서 lgbm(하이퍼파라미터추가) 머신러닝으로 돌린결과
### 점수 : 111.4644571053

### 나의 베이스라인 코드를 이용해서 lgbm(하이퍼파라미터추가) 'n_estimators' & 'learning_rate' 값올리고 머신러닝으로 돌린결과
### 점수 : 111.4644571053

### 나의 베이스라인 코드를 이용해서  등록차량수(log) 바꾼후 lgbm(하이퍼파라미터추가) 머신러닝으로 돌린결과
### 점수 : 115

### 나의 베이스라인 코드에 강사님이 했던 오류처리 및 컬럼추가를 포함 & 등록차량수(log)로 바꿔준후 lgbm(하이퍼파라미터추가) 머신러닝 돌린결과
### 점수 122.594240163