In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv("park_data/train_df.csv")
test = pd.read_csv("park_data/test_df.csv")
age_gender = pd.read_csv("park_data/age_gender_info.csv")
sub = pd.read_csv("park_data/sample_submission.csv")

In [3]:
train

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
0,C2515,545,아파트,경상남도,국민임대,33.48,276,17.0,A,9216000,82940,0.0,3.0,624.0,205.0
1,C2515,545,아파트,경상남도,국민임대,39.60,60,17.0,A,12672000,107130,0.0,3.0,624.0,205.0
2,C2515,545,아파트,경상남도,국민임대,39.60,20,17.0,A,12672000,107130,0.0,3.0,624.0,205.0
3,C2515,545,아파트,경상남도,국민임대,46.90,38,17.0,A,18433000,149760,0.0,3.0,624.0,205.0
4,C2515,545,아파트,경상남도,국민임대,46.90,19,17.0,A,18433000,149760,0.0,3.0,624.0,205.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2864,C2532,239,아파트,강원도,국민임대,49.20,19,7.0,A,11346000,116090,0.0,1.0,166.0,146.0
2865,C2532,239,아파트,강원도,국민임대,51.08,34,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2866,C2532,239,아파트,강원도,국민임대,51.73,34,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2867,C2532,239,아파트,강원도,국민임대,51.96,114,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2868,C2532,239,아파트,강원도,국민임대,54.95,19,7.0,A,14830000,151030,0.0,1.0,166.0,146.0

In [4]:
test

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수
0,C1072,754,아파트,경기도,국민임대,39.79,116,14.0,H,22830000,189840,0.0,2.0,683.0
1,C1072,754,아파트,경기도,국민임대,46.81,30,14.0,A,36048000,249930,0.0,2.0,683.0
2,C1072,754,아파트,경기도,국민임대,46.90,112,14.0,H,36048000,249930,0.0,2.0,683.0
3,C1072,754,아파트,경기도,국민임대,46.90,120,14.0,H,36048000,249930,0.0,2.0,683.0
4,C1072,754,아파트,경기도,국민임대,51.46,60,14.0,H,43497000,296780,0.0,2.0,683.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1003,C1267,675,아파트,경상남도,행복주택,36.77,126,38.0,L,-,-,0.0,1.0,467.0
1004,C2189,382,아파트,전라북도,국민임대,29.19,96,45.0,H,6872000,106400,0.0,2.0,300.0
1005,C2189,382,아파트,전라북도,국민임대,29.19,20,45.0,H,6872000,106400,0.0,2.0,300.0
1006,C2189,382,아파트,전라북도,국민임대,39.45,202,45.0,H,13410000,144600,0.0,2.0,300.0
1007,C2189,382,아파트,전라북도,국민임대,46.23,60,45.0,H,18689000,166500,0.0,2.0,300.0

In [5]:
age_gender

,지역,10대미만(여자),10대미만(남자),10대(여자),10대(남자),20대(여자),20대(남자),30대(여자),30대(남자),40대(여자),...,60대(여자),60대(남자),70대(여자),70대(남자),80대(여자),80대(남자),90대(여자),90대(남자),100대(여자),100대(남자)
0,경상북도,0.030158,0.033195,0.056346,0.061360,0.060096,0.067859,0.053433,0.049572,0.083660,...,0.082684,0.063889,0.047717,0.030172,0.029361,0.011211,0.005578,0.001553,0.000234,0.000014
1,경상남도,0.027400,0.026902,0.053257,0.055568,0.064920,0.070618,0.056414,0.057550,0.077092,...,0.087201,0.069562,0.048357,0.033277,0.027361,0.011295,0.004910,0.001086,0.000179,0.000010
2,대전광역시,0.028197,0.029092,0.040490,0.042793,0.060834,0.064247,0.068654,0.066848,0.074667,...,0.088468,0.070261,0.051010,0.037143,0.032455,0.013751,0.006494,0.001740,0.000298,0.000066
3,경기도,0.038030,0.039507,0.052546,0.053990,0.058484,0.059894,0.072331,0.068704,0.083208,...,0.074237,0.058419,0.042422,0.032725,0.025136,0.012354,0.005390,0.001707,0.000290,0.000067
4,전라북도,0.028089,0.029065,0.059685,0.060080,0.066262,0.070322,0.052027,0.046596,0.077005,...,0.076636,0.068042,0.051025,0.035748,0.035049,0.012641,0.007223,0.001898,0.000158,0.000013
5,강원도,0.028888,0.030682,0.051287,0.052712,0.060374,0.063157,0.059821,0.054321,0.076201,...,0.088423,0.070014,0.047732,0.032760,0.033515,0.013027,0.007628,0.001677,0.000319,0.000017
6,광주광역시,0.031994,0.034566,0.049851,0.050254,0.065084,0.066875,0.066888,0.064416,0.080028,...,0.075930,0.059586,0.048552,0.031754,0.029749,0.010341,0.006343,0.000895,0.000353,0.000013
7,충청남도,0.031369,0.031711,0.059077,0.062422,0.067975,0.072622,0.065095,0.067303,0.078860,...,0.070278,0.057692,0.042296,0.028682,0.024514,0.010900,0.005429,0.001549,0.000219,0.000123
8,부산광역시,0.022003,0.022947,0.032681,0.035512,0.053796,0.057233,0.047049,0.048866,0.061952,...,0.109297,0.085294,0.078743,0.053388,0.047908,0.020228,0.008043,0.002240,0.000268,0.000028
9,제주특별자치도,0.034690,0.036695,0.060094,0.063080,0.069135,0.069667,0.050808,0.048026,0.080548,...,0.074248,0.055717,0.047944,0.033054,0.026836,0.011332,0.006832,0.000982,0.000368,0.000082
10,울산광역시,0.023991,0.025997,0.053874,0.056967,0.064240,0.074689,0.052830,0.052412,0.078450,...,0.096422,0.069088,0.052913,0.039413,0.026540,0.011912,0.004221,0.001087,0.000084,0.000000
11,충청북도,0.034678,0.035339,0.059808,0.061570,0.060824,0.064937,0.061069,0.056625,0.082318,...,0.075390,0.062427,0.041814,0.027566,0.027762,0.011212,0.005386,0.001310,0.000257,0.000037
12,전라남도,0.031930,0.034647,0.059154,0.063379,0.065517,0.070339,0.057977,0.053471,0.078358,...,0.071465,0.062352,0.042535,0.030704,0.027340,0.009312,0.005965,0.001458,0.000149,0.000464
13,대구광역시,0.023765,0.025626,0.034098,0.037897,0.062559,0.068251,0.061825,0.071207,0.070090,...,0.094511,0.073133,0.055914,0.036572,0.031887,0.012556,0.005364,0.001259,0.000219,0.000000
14,서울특별시,0.015323,0.015627,0.025210,0.026121,0.052712,0.056782,0.047655,0.051877,0.054216,...,0.119639,0.078939,0.097543,0.061050,0.047853,0.023463,0.011344,0.003326,0.000532,0.000152
15,세종특별자치시,0.037159,0.036601,0.053172,0.050047,0.079284,0.064833,0.106121,0.104447,0.075155,...,0.065279,0.051163,0.026056,0.026223,0.013893,0.007086,0.003459,0.001004,0.000279,0.000112

In [6]:
train.shape, test.shape, age_gender.shape

((2869, 15), (1008, 14), (16, 23))

In [7]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2869 entries, 0 to 2868
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   단지코드                          2869 non-null   object
 1   총세대수                          2869 non-null   int64
 2   임대건물구분                        2869 non-null   object
 3   지역                            2869 non-null   object
 4   공급유형                          2869 non-null   object
 5   전용면적                          2869 non-null   float64
 6   전용면적별세대수                      2869 non-null   int64
 7   공가수                           2869 non-null   float64
 8   자격유형                          2869 non-null   object
 9   임대보증금                         2300 non-null   object
 10  임대료                           2300 non-null   object
 11  도보 10분거리 내 지하철역 수(환승노선 수 반영)  2662 non-null   float64
 12  도보 10분거리 내 버스정류장 수            2869 non-null   float64
 13  단지내주차면수                       2869 non-null   float64
 14  등록차량수                         2869 non-null   float64
dtypes: float64(6), int64(2), object(7)
memory usage: 336.3+ KB

In [8]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1008 entries, 0 to 1007
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   단지코드                          1008 non-null   object
 1   총세대수                          1008 non-null   int64
 2   임대건물구분                        1008 non-null   object
 3   지역                            1008 non-null   object
 4   공급유형                          1008 non-null   object
 5   전용면적                          1008 non-null   float64
 6   전용면적별세대수                      1008 non-null   int64
 7   공가수                           1008 non-null   float64
 8   자격유형                          1006 non-null   object
 9   임대보증금                         828 non-null    object
 10  임대료                           828 non-null    object
 11  도보 10분거리 내 지하철역 수(환승노선 수 반영)  970 non-null    float64
 12  도보 10분거리 내 버스정류장 수            1008 non-null   float64
 13  단지내주차면수                       1008 non-null   float64
dtypes: float64(5), int64(2), object(7)
memory usage: 110.4+ KB

In [9]:
train.isnull().sum()

단지코드                              0
총세대수                              0
임대건물구분                            0
지역                                0
공급유형                              0
전용면적                              0
전용면적별세대수                          0
공가수                               0
자격유형                              0
임대보증금                           569
임대료                             569
도보 10분거리 내 지하철역 수(환승노선 수 반영)    207
도보 10분거리 내 버스정류장 수                0
단지내주차면수                           0
등록차량수                             0
dtype: int64

In [10]:
test.isnull().sum()

단지코드                              0
총세대수                              0
임대건물구분                            0
지역                                0
공급유형                              0
전용면적                              0
전용면적별세대수                          0
공가수                               0
자격유형                              2
임대보증금                           180
임대료                             180
도보 10분거리 내 지하철역 수(환승노선 수 반영)     38
도보 10분거리 내 버스정류장 수                0
단지내주차면수                           0
dtype: int64

### 컬럼명 변경

In [11]:
train.columns = ['단지코드', '총세대수', '임대건물구분', '지역', '공급유형', '전용면적', '전용면적별세대수', '공가수',
       '자격유형', '임대보증금', '임대료', '지하철수',
       '버정수', '단지내주차면수', '등록차량수']

test.columns = ['단지코드', '총세대수', '임대건물구분', '지역', '공급유형', '전용면적', '전용면적별세대수', '공가수',
       '자격유형', '임대보증금', '임대료', '지하철수',
       '버정수', '단지내주차면수']

### 임대보증금 '-' 인 값을 null값으로 바꿔주고 
### (임대보증금,임대료) type변경 -> float

In [12]:
train.loc[train.임대보증금=='-', '임대보증금'] = np.nan
test.loc[test.임대보증금=='-', '임대보증금'] = np.nan
train['임대보증금'] = train['임대보증금'].astype(float)
test['임대보증금'] = test['임대보증금'].astype(float)

train.loc[train.임대료=='-', '임대료'] = np.nan
test.loc[test.임대료=='-', '임대료'] = np.nan
train['임대료'] = train['임대료'].astype(float)
test['임대료'] = test['임대료'].astype(float)

### (임대보증금, 임대료) 결측값 -> 0으로 대체

In [13]:
train[['임대보증금', '임대료']] = train[['임대보증금', '임대료']].fillna(0)
test[['임대보증금', '임대료']] = test[['임대보증금', '임대료']].fillna(0)

In [14]:
train.isnull().sum()

단지코드          0
총세대수          0
임대건물구분        0
지역            0
공급유형          0
전용면적          0
전용면적별세대수      0
공가수           0
자격유형          0
임대보증금         0
임대료           0
지하철수        207
버정수           0
단지내주차면수       0
등록차량수         0
dtype: int64

In [15]:
test.isnull().sum()

단지코드         0
총세대수         0
임대건물구분       0
지역           0
공급유형         0
전용면적         0
전용면적별세대수     0
공가수          0
자격유형         2
임대보증금        0
임대료          0
지하철수        38
버정수          0
단지내주차면수      0
dtype: int64

In [16]:
train[train.지하철수.isnull()]

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철수,버정수,단지내주차면수,등록차량수
86,C1312,518,아파트,충청남도,국민임대,39.72,60,12.0,A,17460000.0,122210.0,NaN,3.0,527.0,359.0
87,C1312,518,아파트,충청남도,국민임대,39.98,89,12.0,A,17460000.0,122210.0,NaN,3.0,527.0,359.0
88,C1312,518,아파트,충청남도,국민임대,41.55,225,12.0,A,19954000.0,130940.0,NaN,3.0,527.0,359.0
89,C1312,518,아파트,충청남도,국민임대,46.90,143,12.0,A,28687000.0,149660.0,NaN,3.0,527.0,359.0
90,C1874,619,아파트,충청남도,영구임대,26.37,294,2.0,C,3141000.0,69900.0,NaN,2.0,97.0,62.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2292,C1350,1401,아파트,대전광역시,공공임대(10년),59.91,13,2.0,A,37474000.0,519350.0,NaN,6.0,1636.0,2315.0
2293,C1350,1401,아파트,대전광역시,공공임대(10년),59.92,223,2.0,A,37385000.0,516130.0,NaN,6.0,1636.0,2315.0
2294,C1350,1401,아파트,대전광역시,공공임대(분납),51.99,146,2.0,A,54612000.0,131130.0,NaN,6.0,1636.0,2315.0
2295,C1350,1401,아파트,대전광역시,공공임대(분납),59.91,32,2.0,A,63585000.0,152680.0,NaN,6.0,1636.0,2315.0
2296,C1350,1401,아파트,대전광역시,공공임대(분납),59.92,170,2.0,A,63501000.0,152480.0,NaN,6.0,1636.0,2315.0

In [17]:
train['지하철수'] = train['지하철수'].fillna(0)
test['지하철수'] = test['지하철수'].fillna(0)

In [18]:
train.isnull().sum()

단지코드        0
총세대수        0
임대건물구분      0
지역          0
공급유형        0
전용면적        0
전용면적별세대수    0
공가수         0
자격유형        0
임대보증금       0
임대료         0
지하철수        0
버정수         0
단지내주차면수     0
등록차량수       0
dtype: int64

In [19]:
test.isnull().sum()

단지코드        0
총세대수        0
임대건물구분      0
지역          0
공급유형        0
전용면적        0
전용면적별세대수    0
공가수         0
자격유형        2
임대보증금       0
임대료         0
지하철수        0
버정수         0
단지내주차면수     0
dtype: int64

In [20]:
test[test['자격유형'].isnull()]

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철수,버정수,단지내주차면수
196,C2411,962,아파트,경상남도,국민임대,46.90,240,25.0,NaN,71950000.0,37470.0,0.0,2.0,840.0
258,C2253,1161,아파트,강원도,영구임대,26.37,745,0.0,NaN,2249000.0,44770.0,0.0,2.0,173.0

In [21]:
test[test['단지코드'] =='C2411']

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철수,버정수,단지내주차면수
193,C2411,962,아파트,경상남도,국민임대,39.43,56,25.0,A,11992000.0,100720.0,0.0,2.0,840.0
194,C2411,962,아파트,경상남도,국민임대,39.72,336,25.0,A,11992000.0,100720.0,0.0,2.0,840.0
195,C2411,962,아파트,경상남도,국민임대,39.82,179,25.0,A,11992000.0,100720.0,0.0,2.0,840.0
196,C2411,962,아파트,경상남도,국민임대,46.90,240,25.0,NaN,71950000.0,37470.0,0.0,2.0,840.0
197,C2411,962,아파트,경상남도,국민임대,51.93,150,25.0,A,21586000.0,171480.0,0.0,2.0,840.0

### A로 채우기

In [22]:
test.loc[test['자격유형'].isnull() & test['단지코드'].isin(['C2411']) ,'자격유형'] = 'A'

In [23]:
test[test['자격유형'].isnull()]

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철수,버정수,단지내주차면수
258,C2253,1161,아파트,강원도,영구임대,26.37,745,0.0,NaN,2249000.0,44770.0,0.0,2.0,173.0

In [24]:
test[test['단지코드'] =='C2253']

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철수,버정수,단지내주차면수
258,C2253,1161,아파트,강원도,영구임대,26.37,745,0.0,NaN,2249000.0,44770.0,0.0,2.0,173.0
259,C2253,1161,아파트,강원도,영구임대,31.32,239,0.0,C,3731000.0,83020.0,0.0,2.0,173.0
260,C2253,1161,아파트,강원도,영구임대,31.32,149,0.0,C,3731000.0,83020.0,0.0,2.0,173.0
261,C2253,1161,상가,강원도,임대상가,13.77,1,0.0,D,0.0,0.0,0.0,2.0,173.0
262,C2253,1161,상가,강원도,임대상가,22.89,1,0.0,D,0.0,0.0,0.0,2.0,173.0
263,C2253,1161,상가,강원도,임대상가,22.91,1,0.0,D,0.0,0.0,0.0,2.0,173.0
264,C2253,1161,상가,강원도,임대상가,23.79,1,0.0,D,0.0,0.0,0.0,2.0,173.0
265,C2253,1161,상가,강원도,임대상가,23.79,1,0.0,D,0.0,0.0,0.0,2.0,173.0
266,C2253,1161,상가,강원도,임대상가,23.86,1,0.0,D,0.0,0.0,0.0,2.0,173.0
267,C2253,1161,상가,강원도,임대상가,23.86,1,0.0,D,0.0,0.0,0.0,2.0,173.0
268,C2253,1161,상가,강원도,임대상가,24.19,1,0.0,D,0.0,0.0,0.0,2.0,173.0
269,C2253,1161,상가,강원도,임대상가,27.75,1,0.0,D,0.0,0.0,0.0,2.0,173.0
270,C2253,1161,상가,강원도,임대상가,27.75,1,0.0,D,0.0,0.0,0.0,2.0,173.0
271,C2253,1161,상가,강원도,임대상가,27.75,1,0.0,D,0.0,0.0,0.0,2.0,173.0
272,C2253,1161,상가,강원도,임대상가,27.75,1,0.0,D,0.0,0.0,0.0,2.0,173.0
273,C2253,1161,상가,강원도,임대상가,27.75,1,0.0,D,0.0,0.0,0.0,2.0,173.0
274,C2253,1161,상가,강원도,임대상가,27.75,1,0.0,D,0.0,0.0,0.0,2.0,173.0
275,C2253,1161,상가,강원도,임대상가,28.19,1,0.0,D,0.0,0.0,0.0,2.0,173.0
276,C2253,1161,상가,강원도,임대상가,28.69,1,0.0,D,0.0,0.0,0.0,2.0,173.0
277,C2253,1161,상가,강원도,임대상가,28.69,1,0.0,D,0.0,0.0,0.0,2.0,173.0
278,C2253,1161,상가,강원도,임대상가,28.69,1,0.0,D,0.0,0.0,0.0,2.0,173.0
279,C2253,1161,상가,강원도,임대상가,28.69,1,0.0,D,0.0,0.0,0.0,2.0,173.0
280,C2253,1161,상가,강원도,임대상가,28.69,1,0.0,D,0.0,0.0,0.0,2.0,173.0
281,C2253,1161,상가,강원도,임대상가,28.93,1,0.0,D,0.0,0.0,0.0,2.0,173.0
282,C2253,1161,상가,강원도,임대상가,28.93,1,0.0,D,0.0,0.0,0.0,2.0,173.0
283,C2253,1161,상가,강원도,임대상가,42.35,1,0.0,D,0.0,0.0,0.0,2.0,173.0
284,C2253,1161,상가,강원도,임대상가,42.40,1,0.0,D,0.0,0.0,0.0,2.0,173.0
285,C2253,1161,상가,강원도,임대상가,55.17,1,0.0,D,0.0,0.0,0.0,2.0,173.0
286,C2253,1161,상가,강원도,임대상가,55.50,1,0.0,D,0.0,0.0,0.0,2.0,173.0
287,C2253,1161,상가,강원도,임대상가,82.92,1,0.0,D,0.0,0.0,0.0,2.0,173.0
288,C2253,1161,상가,강원도,임대상가,248.56,1,0.0,D,0.0,0.0,0.0,2.0,173.0

In [25]:
test.loc[test['자격유형'].isnull() & test['단지코드'].isin(['C2253']) ,'자격유형'] = 'C'

In [26]:
test[test['자격유형'].isnull()]

Empty DataFrame
Columns: [단지코드, 총세대수, 임대건물구분, 지역, 공급유형, 전용면적, 전용면적별세대수, 공가수, 자격유형, 임대보증금, 임대료, 지하철수, 버정수, 단지내주차면수]
Index: []

In [31]:
train

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철수,버정수,단지내주차면수,등록차량수
0,C2515,545,아파트,경상남도,국민임대,33.48,276,17.0,A,9216000.0,82940.0,0.0,3.0,624.0,205.0
1,C2515,545,아파트,경상남도,국민임대,39.60,60,17.0,A,12672000.0,107130.0,0.0,3.0,624.0,205.0
2,C2515,545,아파트,경상남도,국민임대,39.60,20,17.0,A,12672000.0,107130.0,0.0,3.0,624.0,205.0
3,C2515,545,아파트,경상남도,국민임대,46.90,38,17.0,A,18433000.0,149760.0,0.0,3.0,624.0,205.0
4,C2515,545,아파트,경상남도,국민임대,46.90,19,17.0,A,18433000.0,149760.0,0.0,3.0,624.0,205.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2864,C2532,239,아파트,강원도,국민임대,49.20,19,7.0,A,11346000.0,116090.0,0.0,1.0,166.0,146.0
2865,C2532,239,아파트,강원도,국민임대,51.08,34,7.0,A,14005000.0,142310.0,0.0,1.0,166.0,146.0
2866,C2532,239,아파트,강원도,국민임대,51.73,34,7.0,A,14005000.0,142310.0,0.0,1.0,166.0,146.0
2867,C2532,239,아파트,강원도,국민임대,51.96,114,7.0,A,14005000.0,142310.0,0.0,1.0,166.0,146.0
2868,C2532,239,아파트,강원도,국민임대,54.95,19,7.0,A,14830000.0,151030.0,0.0,1.0,166.0,146.0

In [32]:
train.자격유형.unique(),test.자격유형.unique()

(array(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M',
        'N', 'O'], dtype=object),
 array(['H', 'A', 'E', 'C', 'D', 'G', 'I', 'J', 'K', 'L', 'M', 'N'],
       dtype=object))

In [33]:
mapping = { 'A':1, 'B':2, 'C':3, 'D':4, 'E':5,
            'F':6, 'G':7, 'H':8, 'I':9, 'J':10,
            'K':11, 'L':12, 'M':13, 'N':14, 'O':15  }
mapping2 = {'A':1, 'C':3, 'D':4, 'E':5,
             'G':7, 'H':8, 'I':9, 'J':10,
            'K':11, 'L':12, 'M':13, 'N':14 }
train['자격유형'] =train['자격유형'].map(mapping).astype(int)
test['자격유형'] =test['자격유형'].map(mapping2).astype(int)

<ipython-input-33-00333a4a7b8b>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train['자격유형'] =train['자격유형'].map(mapping).astype(int)
<ipython-input-33-00333a4a7b8b>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['자격유형'] =test['자격유형'].map(mapping2).astype(int)

In [34]:
train.지역.unique(),test.지역.unique()

(array(['경상남도', '대전광역시', '경기도', '전라북도', '강원도', '광주광역시', '충청남도', '부산광역시',
        '제주특별자치도', '울산광역시', '충청북도', '전라남도', '경상북도', '대구광역시', '서울특별시',
        '세종특별자치시'], dtype=object),
 array(['경기도', '부산광역시', '전라북도', '경상남도', '충청남도', '대전광역시', '제주특별자치도', '강원도',
        '울산광역시', '경상북도', '충청북도', '광주광역시', '전라남도', '대구광역시', '세종특별자치시'],
       dtype=object))

In [35]:
map_region = {'경상북도':1, '경상남도':2, '대전광역시':3, '경기도':4, '전라북도':5,
              '강원도':6, '광주광역시':7, '충청남도':8, '부산광역시':9, '제주특별자치도':10,
            '울산광역시':11, '충청북도':12, '전라남도':13, '대구광역시':14, '서울특별시':15, '세종특별자치시':16}
train["지역"] = train['지역'].map(map_region).astype(int)
test["지역"] = test['지역'].map(map_region).astype(int)

<ipython-input-35-3d94aaf6a527>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train["지역"] = train['지역'].map(map_region).astype(int)
<ipython-input-35-3d94aaf6a527>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test["지역"] = test['지역'].map(map_region).astype(int)

In [36]:
train.공급유형.unique(),test.공급유형.unique()

(array(['국민임대', '공공임대(50년)', '영구임대', '임대상가', '공공임대(10년)', '공공임대(분납)',
        '장기전세', '공공분양', '행복주택', '공공임대(5년)'], dtype=object),
 array(['국민임대', '영구임대', '임대상가', '공공임대(50년)', '공공임대(10년)', '공공임대(분납)',
        '행복주택'], dtype=object))

In [37]:
map3 = {'국민임대':1, '공공임대(50년)':2, '영구임대':3, '임대상가':4, '공공임대(10년)':5,
              '공공임대(분납)':6, '장기전세':7, '공공분양':8, '행복주택':9, '공공임대(5년)':10}
train["공급유형"] = train['공급유형'].map(map3).astype(int)
test["공급유형"] = test['공급유형'].map(map3).astype(int)

<ipython-input-37-5eb444265aac>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train["공급유형"] = train['공급유형'].map(map3).astype(int)
<ipython-input-37-5eb444265aac>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test["공급유형"] = test['공급유형'].map(map3).astype(int)

In [40]:
train.임대건물구분.unique(),test.임대건물구분.unique()

(array(['아파트', '상가'], dtype=object), array(['아파트', '상가'], dtype=object))

In [41]:
map4 = {'아파트':1, '상가':2}
train["임대건물구분"] = train['임대건물구분'].map(map4).astype(int)
test["임대건물구분"] = test['임대건물구분'].map(map4).astype(int)

<ipython-input-41-940bbc2ceda5>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train["임대건물구분"] = train['임대건물구분'].map(map4).astype(int)
<ipython-input-41-940bbc2ceda5>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test["임대건물구분"] = test['임대건물구분'].map(map4).astype(int)

In [42]:
train

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철수,버정수,단지내주차면수,등록차량수
0,C2515,545,1,2,1,33.48,276,17.0,1,9216000.0,82940.0,0.0,3.0,624.0,205.0
1,C2515,545,1,2,1,39.60,60,17.0,1,12672000.0,107130.0,0.0,3.0,624.0,205.0
2,C2515,545,1,2,1,39.60,20,17.0,1,12672000.0,107130.0,0.0,3.0,624.0,205.0
3,C2515,545,1,2,1,46.90,38,17.0,1,18433000.0,149760.0,0.0,3.0,624.0,205.0
4,C2515,545,1,2,1,46.90,19,17.0,1,18433000.0,149760.0,0.0,3.0,624.0,205.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2864,C2532,239,1,6,1,49.20,19,7.0,1,11346000.0,116090.0,0.0,1.0,166.0,146.0
2865,C2532,239,1,6,1,51.08,34,7.0,1,14005000.0,142310.0,0.0,1.0,166.0,146.0
2866,C2532,239,1,6,1,51.73,34,7.0,1,14005000.0,142310.0,0.0,1.0,166.0,146.0
2867,C2532,239,1,6,1,51.96,114,7.0,1,14005000.0,142310.0,0.0,1.0,166.0,146.0
2868,C2532,239,1,6,1,54.95,19,7.0,1,14830000.0,151030.0,0.0,1.0,166.0,146.0

In [43]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

In [44]:
sel = [ '총세대수', '전용면적', '전용면적별세대수','임대건물구분','지역','공급유형', '공가수','지하철수','자격유형', '버정수', '임대보증금','임대료',
       '단지내주차면수']

X_train = train[sel]
y_train = train['등록차량수']
X_test = test[sel]

In [45]:
model = LinearRegression()
model.fit(X_train, y_train)
pred = model.predict(X_test)

print("학습(score) :", model.score(X_train, y_train) ) # 결정계수

학습(score) : 0.7868979750984177

In [48]:
pred

array([ 6.49985846e+02,  6.78658035e+02,  6.80979709e+02,  6.81204410e+02,
        7.02830874e+02,  7.02629459e+02,  7.06809704e+02,  7.03130233e+02,
        1.17284915e+03,  1.16335555e+03,  1.16313085e+03,  1.19528590e+03,
        1.19687729e+03,  1.19867490e+03,  1.21765633e+03,  1.22871803e+03,
        1.22090968e+03,  5.59522243e+02,  5.79191642e+02,  5.76944637e+02,
        5.76458918e+02,  5.98981057e+02,  6.00722486e+02,  6.18028038e+02,
        6.41294946e+02,  5.41146314e+02,  5.36343341e+02,  5.52786255e+02,
        5.57470484e+02,  1.06110194e+03,  1.05719777e+03,  1.10398560e+03,
        1.10440554e+03,  1.10873102e+03,  1.10609079e+03,  1.13560798e+03,
        1.13539561e+03,  1.57936653e+03,  1.57431076e+03,  1.59129717e+03,
        1.62561001e+03,  1.62555931e+03,  1.63309705e+03,  1.62669309e+03,
        1.62568194e+03,  1.66281112e+03,  1.64287890e+03,  1.64258295e+03,
        8.96653539e+02,  9.26821451e+02,  9.09013939e+02,  9.25139926e+02,
        9.26825179e+02,  9.46396872e+02,  3.96797725e+02,  3.84911165e+02,
        3.86596419e+02,  4.36226483e+02,  3.03845076e+02,  3.20829021e+02,
        3.39875544e+02,  3.06630686e+02,  3.17462418e+02,  2.71861724e+02,
        2.71154051e+02,  2.90900195e+02,  3.04982792e+02,  4.51082348e+02,
        4.55756187e+02,  4.71847366e+02,  4.72712597e+02,  4.84641834e+02,
        2.19314404e+02,  2.15691109e+02,  2.25381317e+02,  1.73134681e+02,
        2.25478570e+02,  1.78441182e+02,  1.75271777e+02,  1.75119712e+02,
        1.75150536e+02,  1.75166975e+02,  1.75261502e+02,  1.75279997e+02,
        1.75545083e+02,  1.75668378e+02,  1.78664466e+02,  1.78682961e+02,
        1.78685016e+02,  1.83076401e+02,  2.87347662e+02,  4.51553642e+02,
        4.95210922e+02,  4.96523489e+02,  4.96214525e+02,  5.24875048e+02,
        3.72819414e+02,  3.72566626e+02,  3.73806497e+02,  3.72598732e+02,
        3.76450696e+02,  3.74484566e+02,  3.73869020e+02,  3.73223006e+02,
        1.15313650e+02,  1.44721325e+02,  1.40015605e+02,  6.83422872e+01,
        7.30686263e+01,  6.86649112e+01,  6.90368535e+01,  6.95546959e+01,
        6.97684086e+01,  7.00581538e+01,  7.06540835e+01,  7.10917836e+01,
        7.11164427e+01,  7.20719852e+01,  7.21048641e+01,  7.21213035e+01,
        7.21459627e+01,  7.29165615e+01,  7.29473854e+01,  7.29638249e+01,
        7.30583517e+01,  7.30768460e+01,  7.33419320e+01,  7.35597546e+01,
        7.64613158e+01,  7.64798102e+01,  7.64818651e+01,  8.08732507e+01,
        1.48412637e+02,  1.85144512e+02,  3.51341828e+02,  3.47634270e+02,
        5.65799068e+02,  5.84209062e+02,  5.79201927e+02,  5.98343555e+02,
        3.89879652e+02,  4.19788541e+02,  4.34092241e+02,  1.39447543e+02,
        1.42761875e+02,  1.37102980e+02,  9.23918390e+01,  9.27144630e+01,
        9.30864054e+01,  9.36042477e+01,  9.38179605e+01,  9.41077056e+01,
        9.47036353e+01,  9.51659946e+01,  9.61215371e+01,  9.61544159e+01,
        9.61708554e+01,  9.61955145e+01,  9.76093064e+01,  1.02027406e+02,
        1.71814886e+02,  6.73992654e+02,  6.81916763e+02,  6.77527566e+02,
        6.68591431e+02,  7.12566852e+02,  2.19957648e+02,  2.13918823e+02,
        2.16418615e+02,  1.67838355e+02,  1.68160979e+02,  1.68532921e+02,
        1.69050763e+02,  1.69264476e+02,  1.69554221e+02,  1.70150151e+02,
        1.70612510e+02,  1.71568053e+02,  1.71600931e+02,  1.71617371e+02,
        1.71642030e+02,  1.73055822e+02,  1.77473922e+02,  2.47261401e+02,
        4.04921621e+02,  4.11168068e+02,  4.24596095e+02,  4.39827625e+02,
        4.42795386e+02,  4.69852317e+02,  4.10427750e+02,  4.35675780e+02,
        5.27999010e+01,  4.57619076e+01, -4.27165885e+00, -3.63257560e+00,
       -3.52571923e+00, -3.39009385e+00, -2.38317812e+00, -1.61463428e+00,
       -1.54065680e+00, -6.15938269e-01, -5.25521347e-01,  2.38425962e+00,
        5.01867995e+00,  4.47589724e+01,  4.58172614e+01,  1.47200776e+02,
        1.51083877e+02,  1.48555996e+02,  1.03592099e+02,  1.05466195e+02,
        1.05470305e+02,  1.05651139e+02,  1.05665523e+02,  1.05733336e+02,
        1.06464891e+02,  1.06555308e+02,  1.06658054e+02,  1.06707373e+02,
        1.09465089e+02,  1.09475363e+02,  1.12099509e+02,  1.12167322e+02,
        1.17801940e+02,  1.51839802e+02,  4.76819638e+02,  4.55802774e+02,
        4.66560326e+02,  5.31772172e+02,  5.25467352e+02,  5.37031425e+02,
        4.11353707e+02,  4.38311700e+02,  8.97213958e+02,  8.99409578e+02,
        9.29344404e+02,  2.18041267e+02,  2.45617575e+02,  5.47784909e+02,
        5.48145168e+02,  5.67643956e+02,  3.73438290e+02,  3.69869778e+02,
        3.99097001e+02,  1.73622661e+02,  1.70364504e+02,  1.69325264e+02,
        1.69802753e+02,  1.88051139e+02,  1.84568281e+02,  1.83641392e+02,
        1.84006530e+02,  1.22651600e+02,  1.23785921e+02,  1.23896887e+02,
        1.24468158e+02,  1.24554465e+02,  1.24784617e+02,  1.25641523e+02,
        1.26595010e+02,  1.26646384e+02,  1.27139567e+02,  1.27324510e+02,
        1.30267170e+02,  1.69339610e+02,  3.69557201e+02,  3.63602639e+02,
        3.63610858e+02,  3.81645600e+02,  3.80802973e+02,  4.11828127e+02,
        4.74655537e+02,  4.70105352e+02,  4.97979479e+02,  4.96294226e+02,
        5.13203113e+02,  5.49201897e+02,  5.47460468e+02,  5.49567035e+02,
        5.79438905e+02,  5.78961416e+02,  7.43256194e+02,  7.40784489e+02,
        7.59152206e+02,  7.92061359e+02,  7.90263755e+02,  7.95459953e+02,
        8.23646569e+02,  8.22691592e+02,  2.76637166e+02,  2.71874611e+02,
        3.15031439e+02,  3.12082246e+02,  4.51801679e+02,  4.46923509e+02,
        4.63484434e+02,  4.62641807e+02,  4.87704278e+02,  3.58311462e+02,
        3.57496923e+02,  3.56694714e+02,  3.92566950e+02,  4.04069439e+02,
        2.57859875e+02,  2.55163470e+02,  2.88173238e+02,  2.82162500e+02,
        2.96741657e+02,  5.85562702e+02,  5.81909946e+02,  6.13455025e+02,
        6.13174150e+02,  6.18033297e+02,  6.40662520e+02,  6.39286229e+02,
        1.05926738e+03,  1.05471582e+03,  1.05437877e+03,  1.08671030e+03,
        1.08603620e+03,  1.09173797e+03,  1.11352457e+03,  1.11094051e+03,
        1.14577466e+03,  1.06033758e+03,  1.07862719e+03,  1.07404421e+03,
        1.07022901e+03,  1.07496946e+03,  4.50631146e+02,  4.48053256e+02,
        4.49084957e+02,  5.06297682e+02,  5.11976831e+02,  5.26684102e+02,
        5.26087406e+02,  5.23952752e+02,  5.42831994e+02,  5.41933192e+02,
        5.43562270e+02,  5.58139264e+02,  5.57437075e+02,  3.57055432e+02,
        3.52954648e+02,  3.65796526e+02,  3.61695742e+02,  3.16042670e+02,
        3.13514789e+02,  3.23023720e+02,  3.22293444e+02,  3.48795151e+02,
        3.46913285e+02,  7.57123219e+02,  7.48893564e+02,  7.85520446e+02,
        7.83441967e+02,  7.84541492e+02,  7.83867390e+02,  8.07343763e+02,
        8.05096759e+02,  8.44338995e+02,  2.86922891e+02,  2.86585840e+02,
        2.97571316e+02,  3.09389565e+02,  9.88125542e+02,  1.01204375e+03,
        1.01485251e+03,  1.01209993e+03,  1.01771744e+03,  1.01496486e+03,
        1.03972035e+03,  1.03292316e+03,  6.82810911e+02,  6.79075266e+02,
        7.00472132e+02,  6.98112777e+02,  7.00396089e+02,  6.99080073e+02,
        5.53462400e+02,  5.58614068e+02,  1.86665986e+02,  1.85823359e+02,
        2.04210867e+02,  4.93688529e+02,  4.93584399e+02,  4.92868507e+02,
        4.95464200e+02,  4.92515006e+02,  5.03939832e+02,  5.00288450e+02,
        5.35608346e+02,  5.35664521e+02,  5.34428668e+02,  5.47354278e+02,
        5.47411816e+02,  3.26390357e+02,  3.25940956e+02,  3.25126417e+02,
        3.26977449e+02,  3.53502403e+02,  3.54260767e+02,  3.66711837e+02,
        3.66655662e+02,  3.87364441e+02,  4.11387507e+02,  4.10123566e+02,
        4.12230133e+02,  4.10460617e+02,  4.49191124e+02,  2.10765787e+02,
        2.09951248e+02,  2.28698999e+02,  3.36681355e+02,  3.35712675e+02,
        3.35291362e+02,  3.54763500e+02,  3.56512456e+02,  3.57074208e+02,
        5.81943149e+02,  5.70500205e+02,  5.71544602e+02,  9.08605169e+02,
        9.06442427e+02,  9.13643798e+02,  9.06706171e+02,  9.45247508e+02,
        9.41933176e+02,  9.42270227e+02,  9.63190986e+02,  9.61337207e+02,
        9.91500490e+02,  3.67766887e+02,  3.64873868e+02,  3.86586652e+02,
        3.84058772e+02,  4.10391661e+02,  2.05070943e+02,  2.07402211e+02,
        2.14371492e+02,  3.33521976e+02,  3.33378110e+02,  3.34979100e+02,
        3.52104169e+02,  3.51956193e+02,  3.51647230e+02,  3.51443068e+02,
        3.63058960e+02,  3.62300595e+02,  4.92092575e+02,  4.90547759e+02,
        4.95893967e+02,  4.91203345e+02,  5.12849245e+02,  5.13483600e+02,
        5.09298554e+02,  9.94228485e+02,  9.91419729e+02,  1.00886650e+03,
        1.02040279e+03,  5.27481239e+02,  5.26217299e+02,  5.49491758e+02,
        5.43930421e+02,  4.33753077e+02,  4.31365634e+02,  4.32573399e+02,
        4.65682439e+02,  4.60205365e+02,  4.59615526e+02,  4.59194213e+02,
        6.33596647e+02,  6.30113790e+02,  6.36010187e+02,  6.54840908e+02,
        6.46555078e+02,  2.78596853e+02,  2.76237498e+02,  2.96731956e+02,
        2.95411841e+02,  5.70916756e+02,  5.70933195e+02,  5.70052887e+02,
        5.69210261e+02,  6.04130285e+02,  6.04152889e+02,  6.03254087e+02,
        6.02411460e+02,  6.26865776e+02,  6.28438679e+02,  8.11707402e+02,
        8.07464807e+02,  8.06734531e+02,  8.45253872e+02,  8.67320745e+02,
        8.70129501e+02,  9.03258900e+02,  9.55183780e+02,  9.67051317e+02,
        9.68736571e+02,  1.00248728e+03,  1.01449330e+03,  1.01336980e+03,
        5.24045358e+02,  5.29325819e+02,  5.22771825e+02,  6.95702277e+02,
        7.13147014e+02,  7.10057382e+02,  7.52217450e+02,  6.28898022e+02,
        6.63241738e+02,  6.33065255e+02,  6.26396856e+02,  6.96712761e+02,
        8.64862968e+02,  8.68410901e+02,  8.64787606e+02,  8.68607514e+02,
        8.67033237e+02,  9.36786817e+02,  7.51902275e+02,  7.53455992e+02,
        7.52023526e+02,  7.55731084e+02,  7.53229918e+02,  8.24564682e+02,
        1.16190035e+03,  1.16021510e+03,  1.18456262e+03,  1.18134693e+03,
        1.19893590e+03,  2.43233428e+02,  2.53711383e+02,  2.60301075e+02,
        2.61232074e+02,  2.59350208e+02,  3.04783202e+02,  3.05186703e+02,
        3.04962002e+02,  3.05411403e+02,  3.05916979e+02,  2.63816394e+02,
        2.93070100e+02,  2.90321629e+02,  2.96706827e+02,  3.07812545e+02,
        3.07644020e+02,  3.06548605e+02,  1.39982666e+02,  1.49344965e+02,
        1.82926780e+02,  2.77369785e+02,  2.85591115e+02,  2.83824919e+02,
        2.82869942e+02,  3.21470357e+02,  3.22834769e+02,  3.21598916e+02,
        3.28802291e+02,  3.41516257e+02,  3.41107955e+02,  3.40798992e+02,
        3.65964539e+02,  9.29883988e+02,  9.21273728e+02,  9.22004005e+02,
        9.56541649e+02,  9.50931068e+02,  7.90908966e+02,  7.82819749e+02,
        7.81967529e+02,  8.14096669e+02,  5.56646401e+02,  5.51702990e+02,
        5.57891659e+02,  5.76912734e+02,  5.78935038e+02,  5.76744209e+02,
        3.02659761e+02,  3.20118513e+02,  3.38565283e+02,  3.39896354e+02,
        5.81305416e+02,  5.84114172e+02,  5.77202567e+02,  5.99248982e+02,
        6.00919159e+02,  6.48441981e+02,  1.13226635e+03,  1.15030660e+03,
        1.14232973e+03,  1.14890633e+03,  1.16259158e+03,  1.16045693e+03,
        1.16356916e+03,  1.15991778e+03,  1.17999525e+03,  1.01257331e+03,
        1.01691850e+03,  1.01270536e+03,  1.02083842e+03,  1.03813494e+03,
        1.04785303e+03,  6.12143250e+02,  6.43192388e+02,  6.92266924e+02,
        6.91360583e+02,  6.92259385e+02,  6.93574017e+02,  7.22721238e+02,
        1.07590630e+03,  1.07877123e+03,  1.08222089e+03,  1.09166721e+03,
        1.08377461e+03,  1.08445899e+03,  1.10600962e+03,  1.10339747e+03,
        1.12388470e+03,  1.12245223e+03,  1.15172687e+03,  6.59473206e+02,
        6.56018436e+02,  6.56546606e+02,  6.55282666e+02,  6.86361243e+02,
        6.79002303e+02,  7.03568765e+02,  7.80903045e+02,  8.11190206e+02,
        8.08156749e+02,  8.13425562e+02,  7.79783128e+02,  7.87580625e+02,
        7.85824120e+02,  7.13677634e+02,  7.23894593e+02,  3.38411130e+02,
        3.11019093e+02,  3.10381288e+02,  3.14786289e+02,  3.17019580e+02,
        3.13312022e+02,  3.41297255e+02,  7.98161822e+02,  8.39100569e+02,
        8.38246245e+02,  6.58187098e+02,  6.68635202e+02,  6.66485080e+02,
        5.91754211e+02,  5.90414228e+02,  6.58093615e+02,  6.52661068e+02,
        9.43574624e+02,  9.91281726e+02,  9.77187936e+02,  5.94882947e+02,
        6.26555949e+02,  6.50705776e+02,  1.09953584e+03,  1.10063124e+03,
        1.12862008e+03,  1.13126031e+03,  1.13049236e+03,  1.17163455e+03,
        1.17433096e+03,  1.17034253e+03,  1.17093237e+03,  1.17106184e+03,
        1.17287177e+03,  1.17151671e+03,  1.20095564e+03,  1.19971978e+03,
        1.20132076e+03,  1.22688345e+03,  1.22637787e+03,  5.12964272e+02,
        5.21806494e+02,  5.21583848e+02,  5.66174365e+02,  5.61876968e+02,
        6.05402920e+02,  9.03881094e+02,  9.33494797e+02,  9.31921894e+02,
        9.35982942e+02,  9.36406310e+02,  9.75210090e+02,  9.75153915e+02,
        9.77734542e+02,  1.00225078e+03,  1.00195482e+03,  2.21511902e+02,
        2.38963658e+02,  2.40143336e+02,  2.38189536e+02,  2.52819804e+02,
        2.54338587e+02,  5.78358833e+02,  5.76901271e+02,  6.16049351e+02,
        4.83942415e+02,  4.82350354e+02,  4.97233651e+02,  1.06915258e+03,
        1.07267585e+03,  1.10378063e+03,  9.70983471e+02,  9.75691896e+02,
        9.94312371e+02,  1.02803265e+03,  1.04219903e+03,  9.32748189e+02,
        9.37080957e+02,  9.50921218e+02,  9.64540926e+02,  9.80079161e+02,
        1.01961361e+03,  1.03444748e+03,  7.71082716e+02,  7.70368879e+02,
        7.92914087e+02,  7.93731362e+02,  2.14558143e+02,  2.40564752e+02,
        2.38542447e+02,  2.72492801e+02,  1.21680739e+02,  1.19546084e+02,
        1.78620960e+02,  5.03403101e+02,  4.99021442e+02,  5.30390219e+02,
        5.25896210e+02,  5.44919005e+02,  4.69309746e+02,  4.68242419e+02,
        4.78862279e+02,  8.64354274e+02,  8.96077848e+02,  8.91787298e+02,
        8.88142080e+02,  8.88152355e+02,  8.88096180e+02,  1.26113077e+03,
        1.29431782e+03,  1.29658451e+03,  1.28956262e+03,  1.28731561e+03,
        5.77915548e+02,  5.73140663e+02,  5.93902163e+02,  6.22849835e+02,
        6.19029927e+02,  6.55478736e+02,  7.80236455e+02,  8.12320214e+02,
        8.09800553e+02,  8.16050376e+02,  8.48508097e+02,  7.08414993e+02,
        7.29073132e+02,  7.36172427e+02,  3.67529996e+02,  3.66868224e+02,
        4.02016812e+02,  4.00556259e+02,  4.15553649e+02,  7.95853865e+02,
        8.23548733e+02,  8.44800256e+02,  7.66924546e+02,  7.61315254e+02,
        1.77477920e+02,  1.99684191e+02,  1.96201333e+02,  1.93780016e+02,
        2.13556748e+02,  2.12347610e+02,  2.25559905e+02,  2.24968693e+02,
        3.10687493e+02,  3.17540858e+02,  3.21709901e+02,  3.21878427e+02,
        3.22496353e+02,  3.21934602e+02,  3.70034087e+02,  3.38849119e+02,
        3.41573613e+02,  3.38253797e+02,  3.38618935e+02,  5.86913551e+02,
        5.82756592e+02,  5.87475302e+02,  6.31788147e+02,  6.27687363e+02,
        6.64755217e+02,  1.64121258e+02,  1.63012140e+02,  1.78924666e+02,
        2.17548711e+02,  1.64355476e+02,  1.63978733e+02,  4.60837176e+01,
        4.60898824e+01,  8.53919597e+01,  8.54481348e+01,  1.19674085e+02,
        1.19723403e+02,  6.36793626e+02,  6.45980313e+02,  6.36468213e+02,
        6.36664816e+02,  4.97705523e+02,  4.92762112e+02,  4.99351513e+02,
        5.09129465e+02,  5.04860156e+02,  5.33056854e+02,  5.29686347e+02,
        5.35759215e+02,  5.23059146e+02,  2.25727063e+02,  2.22749781e+02,
        2.49992157e+02,  2.49037180e+02,  2.49430406e+02,  2.78544981e+02,
        2.73376870e+02,  2.26243809e+02,  2.19791690e+02,  2.43289201e+02,
        2.44637404e+02,  2.43620768e+02,  2.72205201e+02,  2.67469360e+02,
        1.98169316e+02,  2.18019998e+02,  2.16812233e+02,  2.24406780e+02,
        2.22721527e+02,  2.22591363e+02,  2.22625616e+02,  2.32317537e+02,
        3.84592046e+02,  4.05083147e+02,  4.04970797e+02,  4.08572169e+02,
        4.07111616e+02,  4.37772285e+02,  4.54682595e+02,  4.46958516e+02,
        4.45513981e+02,  4.68562348e+02,  4.66968555e+02,  4.94717672e+02,
        4.87897538e+02,  4.02935371e+02,  4.20775076e+02,  4.16618117e+02,
        4.49510302e+02,  4.41477261e+02,  1.63796556e+02,  1.62167478e+02,
        1.97067557e+02,  1.47449399e+02,  1.44607133e+02,  3.76893157e+01,
        6.07852666e+01,  6.10099671e+01,  6.32264334e+01,  8.55039195e+01,
        8.47174220e+01,  8.49462323e+01,  8.50147370e+01,  1.05879549e+02,
        1.05711024e+02,  1.05861736e+02,  1.05749386e+02,  1.05926813e+02,
        1.05898725e+02,  1.05786375e+02,  1.05758287e+02,  1.27986908e+02,
        1.28163653e+02,  1.28247915e+02,  1.28110214e+02,  1.28054039e+02,
        1.29635162e+02,  1.28096511e+02,  1.28311618e+02,  1.28199268e+02,
        2.42214186e+02,  2.41427734e+02,  2.42888287e+02,  2.41540084e+02,
        2.49988468e+02,  2.48527915e+02,  2.66998910e+02,  2.66886560e+02,
        1.63759845e+02,  1.76434583e+02,  1.73209654e+02,  1.72576651e+02,
        1.91205739e+02,  1.85908147e+02,  2.24921615e+02,  2.26719219e+02,
        2.54983361e+02,  2.78473181e+02,  4.10846807e+02,  4.06689849e+02,
        4.45330233e+02,  4.38589218e+02,  4.71805159e+02, -8.51624910e-01,
        6.62816365e-01,  2.35707207e+02,  2.37473295e+02,  2.35282466e+02,
        2.95988395e+02,  2.97224247e+02,  2.31628611e+02,  2.29325431e+02,
        1.87361663e+02,  1.89847499e+02,  1.88218421e+02,  1.93571243e+02,
        5.87386450e+01,  5.66039905e+01,  8.21879316e+01,  9.05163807e+01])

In [136]:
test.shape, sub.shape, train.shape

((936, 14), (150, 2), (2549, 15))

In [137]:
test.columns

Index(['단지코드', '총세대수', '임대건물구분', '지역', '공급유형', '전용면적', '전용면적별세대수', '공가수',
       '자격유형', '임대보증금', '임대료', '지하철수', '버정수', '단지내주차면수'],
      dtype='object')

In [138]:
len(test['단지코드'].unique())

147

In [139]:
len(sub)

150

In [140]:
test['등록차량수'] = pred
test['코드별차량수평균'] = test.groupby('단지코드')['등록차량수'].transform(np.mean)
test_new = test.drop_duplicates(['단지코드'], keep='first').reset_index()
test_new

<ipython-input-140-35cc81c78d6d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['등록차량수'] = pred
<ipython-input-140-35cc81c78d6d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['코드별차량수평균'] = test.groupby('단지코드')['등록차량수'].transform(np.mean)

,index,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철수,버정수,단지내주차면수,등록차량수,코드별차량수평균
0,0,C1072,754,아파트,4,1,39.79,116,14.0,8,22830000.0,189840.0,0.0,2.0,683.0,594.768744,633.949086
1,8,C1128,1354,아파트,4,1,39.79,368,9.0,8,22830000.0,189840.0,0.0,3.0,1216.0,1129.939971,1170.367617
2,17,C1456,619,아파트,9,1,33.40,82,18.0,1,19706000.0,156200.0,0.0,16.0,547.0,587.819823,617.011123
3,26,C1840,593,아파트,5,1,39.57,253,7.0,1,14418000.0,108130.0,0.0,3.0,543.0,546.997798,550.909800
4,30,C1332,1297,아파트,4,1,39.99,282,11.0,8,28598000.0,203050.0,0.0,2.0,1112.0,1013.248432,1047.220915
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142,982,C2456,349,아파트,10,1,26.44,24,17.0,8,6992000.0,117000.0,0.0,4.0,270.0,185.270429,203.975974
143,986,C1266,596,아파트,12,1,26.94,164,35.0,8,8084000.0,149910.0,0.0,1.0,593.0,369.629437,389.594365
144,991,C2152,120,아파트,6,3,24.83,66,9.0,3,0.0,0.0,0.0,1.0,40.0,12.528553,12.897418
145,993,C1267,675,아파트,2,1,24.87,28,38.0,8,6882000.0,104370.0,0.0,1.0,467.0,170.010388,199.894679
146,1004,C2189,382,아파트,5,1,29.19,96,45.0,8,6872000.0,106400.0,0.0,2.0,300.0,-3.278890,7.905851

In [141]:
sub_df = test_new[ ['단지코드', '코드별차량수평균']]
sub_df.columns = ['code', 'num']
sub_df

      code          num
0    C1072   633.949086
1    C1128  1170.367617
2    C1456   617.011123
3    C1840   550.909800
4    C1332  1047.220915
..     ...          ...
142  C2456   203.975974
143  C1266   389.594365
144  C2152    12.897418
145  C1267   199.894679
146  C2189     7.905851

[147 rows x 2 columns]

In [142]:
sub_df = sub_df.append({'code':'C2675','num': 0}, ignore_index=True)
sub_df = sub_df.append({'code':'C2335','num': 0}, ignore_index=True)
sub_df = sub_df.append({'code':'C1327','num': 0}, ignore_index=True)
sub_df.tail()

      code         num
145  C1267  199.894679
146  C2189    7.905851
147  C2675    0.000000
148  C2335    0.000000
149  C1327    0.000000

In [143]:
sub_df.to_csv('0719_two_model.csv', index=False)

### (라벨인코딩안하고 숫자타입 유형 적용) 점수 : 120.56547

### (공급유형, 지역, 자격유형) 점수 : 117.1701040267

In [104]:
model = RandomForestRegressor(n_jobs=-1)
model.fit(X_train, y_train)
pred = model.predict(X_test)

print("학습(score) :", model.score(X_train, y_train) ) # 결정계수

학습(score) : 0.9986633109875508

In [105]:
test['등록차량수'] = pred
test['코드별차량수평균'] = test.groupby('단지코드')['등록차량수'].transform(np.mean)
test_new = test.drop_duplicates(['단지코드'], keep='first').reset_index()
test_new

<ipython-input-105-35cc81c78d6d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['등록차량수'] = pred
<ipython-input-105-35cc81c78d6d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['코드별차량수평균'] = test.groupby('단지코드')['등록차량수'].transform(np.mean)

,index,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철수,버정수,단지내주차면수,등록차량수,코드별차량수평균
0,0,C1072,754,아파트,경기도,국민임대,39.79,116,14.0,H,22830000.0,189840.0,0.0,2.0,683.0,612.96,628.947500
1,8,C1128,1354,아파트,경기도,국민임대,39.79,368,9.0,H,22830000.0,189840.0,0.0,3.0,1216.0,1137.10,1145.438889
2,17,C1456,619,아파트,부산광역시,국민임대,33.40,82,18.0,A,19706000.0,156200.0,0.0,16.0,547.0,546.79,562.436250
3,26,C1840,593,아파트,전라북도,국민임대,39.57,253,7.0,A,14418000.0,108130.0,0.0,3.0,543.0,545.75,561.190000
4,30,C1332,1297,아파트,경기도,국민임대,39.99,282,11.0,H,28598000.0,203050.0,0.0,2.0,1112.0,954.41,959.147500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142,982,C2456,349,아파트,제주특별자치도,국민임대,26.44,24,17.0,H,6992000.0,117000.0,0.0,4.0,270.0,224.83,246.470000
143,986,C1266,596,아파트,충청북도,국민임대,26.94,164,35.0,H,8084000.0,149910.0,0.0,1.0,593.0,506.58,512.636000
144,991,C2152,120,아파트,강원도,영구임대,24.83,66,9.0,C,0.0,0.0,0.0,1.0,40.0,33.57,33.885000
145,993,C1267,675,아파트,경상남도,국민임대,24.87,28,38.0,H,6882000.0,104370.0,0.0,1.0,467.0,518.87,517.336364
146,1004,C2189,382,아파트,전라북도,국민임대,29.19,96,45.0,H,6872000.0,106400.0,0.0,2.0,300.0,242.41,259.932500

In [45]:
sub_df = test_new[ ['단지코드', '코드별차량수평균']]
sub_df.columns = ['code', 'num']
sub_df

      code          num
0    C1072   688.278534
1    C1128  1195.273075
2    C1456   593.892996
3    C1840   546.936599
4    C1332  1101.564532
..     ...          ...
142  C2456   246.274344
143  C1266   434.652253
144  C2152    -0.094404
145  C1267   229.238953
146  C2189    72.011737

[147 rows x 2 columns]

In [111]:
sub_df = sub_df.append({'code':'C2675','num': 0}, ignore_index=True)
sub_df = sub_df.append({'code':'C2335','num': 0}, ignore_index=True)
sub_df = sub_df.append({'code':'C1327','num': 0}, ignore_index=True)
sub_df.tail()

      code         num
145  C1267  517.336364
146  C2189  259.932500
147  C2675    0.000000
148  C2335    0.000000
149  C1327    0.000000

In [112]:
sub_df.to_csv('0718_second_model.csv', index=False)

### RandomForestRegressor 점수 : 149.0404363223

In [113]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()
model.fit(X_train, y_train)
pred = model.predict(X_test)

print("학습(score) :", model.score(X_train, y_train) ) # 결정계수

학습(score) : 1.0

In [114]:
test['등록차량수'] = pred
test['코드별차량수평균'] = test.groupby('단지코드')['등록차량수'].transform(np.mean)
test_new = test.drop_duplicates(['단지코드'], keep='first').reset_index()
test_new

<ipython-input-114-35cc81c78d6d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['등록차량수'] = pred
<ipython-input-114-35cc81c78d6d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['코드별차량수평균'] = test.groupby('단지코드')['등록차량수'].transform(np.mean)

,index,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철수,버정수,단지내주차면수,등록차량수,코드별차량수평균
0,0,C1072,754,아파트,경기도,국민임대,39.79,116,14.0,H,22830000.0,189840.0,0.0,2.0,683.0,610.0,610.0
1,8,C1128,1354,아파트,경기도,국민임대,39.79,368,9.0,H,22830000.0,189840.0,0.0,3.0,1216.0,1730.0,1532.0
2,17,C1456,619,아파트,부산광역시,국민임대,33.40,82,18.0,A,19706000.0,156200.0,0.0,16.0,547.0,761.0,761.0
3,26,C1840,593,아파트,전라북도,국민임대,39.57,253,7.0,A,14418000.0,108130.0,0.0,3.0,543.0,639.0,639.0
4,30,C1332,1297,아파트,경기도,국민임대,39.99,282,11.0,H,28598000.0,203050.0,0.0,2.0,1112.0,795.0,795.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142,982,C2456,349,아파트,제주특별자치도,국민임대,26.44,24,17.0,H,6992000.0,117000.0,0.0,4.0,270.0,133.0,133.0
143,986,C1266,596,아파트,충청북도,국민임대,26.94,164,35.0,H,8084000.0,149910.0,0.0,1.0,593.0,416.0,416.0
144,991,C2152,120,아파트,강원도,영구임대,24.83,66,9.0,C,0.0,0.0,0.0,1.0,40.0,16.0,31.5
145,993,C1267,675,아파트,경상남도,국민임대,24.87,28,38.0,H,6882000.0,104370.0,0.0,1.0,467.0,416.0,416.0
146,1004,C2189,382,아파트,전라북도,국민임대,29.19,96,45.0,H,6872000.0,106400.0,0.0,2.0,300.0,505.0,505.0

In [115]:
sub_df = test_new[ ['단지코드', '코드별차량수평균']]
sub_df.columns = ['code', 'num']
sub_df

      code     num
0    C1072   610.0
1    C1128  1532.0
2    C1456   761.0
3    C1840   639.0
4    C1332   795.0
..     ...     ...
142  C2456   133.0
143  C1266   416.0
144  C2152    31.5
145  C1267   416.0
146  C2189   505.0

[147 rows x 2 columns]

In [116]:
sub_df = sub_df.append({'code':'C2675','num': 0}, ignore_index=True)
sub_df = sub_df.append({'code':'C2335','num': 0}, ignore_index=True)
sub_df = sub_df.append({'code':'C1327','num': 0}, ignore_index=True)
sub_df.tail()

      code    num
145  C1267  416.0
146  C2189  505.0
147  C2675    0.0
148  C2335    0.0
149  C1327    0.0

In [117]:
sub_df.to_csv('0718_third_model.csv', index=False)

### RandomForestClassifier 점수 160.1291788144