In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv("park_data/train_df.csv")
test = pd.read_csv("park_data/test_df.csv")
age_gender = pd.read_csv("park_data/age_gender_info.csv")
sub = pd.read_csv("park_data/sample_submission.csv")

In [3]:
train

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
0,C2515,545,아파트,경상남도,국민임대,33.48,276,17.0,A,9216000,82940,0.0,3.0,624.0,205.0
1,C2515,545,아파트,경상남도,국민임대,39.60,60,17.0,A,12672000,107130,0.0,3.0,624.0,205.0
2,C2515,545,아파트,경상남도,국민임대,39.60,20,17.0,A,12672000,107130,0.0,3.0,624.0,205.0
3,C2515,545,아파트,경상남도,국민임대,46.90,38,17.0,A,18433000,149760,0.0,3.0,624.0,205.0
4,C2515,545,아파트,경상남도,국민임대,46.90,19,17.0,A,18433000,149760,0.0,3.0,624.0,205.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2864,C2532,239,아파트,강원도,국민임대,49.20,19,7.0,A,11346000,116090,0.0,1.0,166.0,146.0
2865,C2532,239,아파트,강원도,국민임대,51.08,34,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2866,C2532,239,아파트,강원도,국민임대,51.73,34,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2867,C2532,239,아파트,강원도,국민임대,51.96,114,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2868,C2532,239,아파트,강원도,국민임대,54.95,19,7.0,A,14830000,151030,0.0,1.0,166.0,146.0

In [4]:
test

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수
0,C1072,754,아파트,경기도,국민임대,39.79,116,14.0,H,22830000,189840,0.0,2.0,683.0
1,C1072,754,아파트,경기도,국민임대,46.81,30,14.0,A,36048000,249930,0.0,2.0,683.0
2,C1072,754,아파트,경기도,국민임대,46.90,112,14.0,H,36048000,249930,0.0,2.0,683.0
3,C1072,754,아파트,경기도,국민임대,46.90,120,14.0,H,36048000,249930,0.0,2.0,683.0
4,C1072,754,아파트,경기도,국민임대,51.46,60,14.0,H,43497000,296780,0.0,2.0,683.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1003,C1267,675,아파트,경상남도,행복주택,36.77,126,38.0,L,-,-,0.0,1.0,467.0
1004,C2189,382,아파트,전라북도,국민임대,29.19,96,45.0,H,6872000,106400,0.0,2.0,300.0
1005,C2189,382,아파트,전라북도,국민임대,29.19,20,45.0,H,6872000,106400,0.0,2.0,300.0
1006,C2189,382,아파트,전라북도,국민임대,39.45,202,45.0,H,13410000,144600,0.0,2.0,300.0
1007,C2189,382,아파트,전라북도,국민임대,46.23,60,45.0,H,18689000,166500,0.0,2.0,300.0

In [5]:
age_gender

,지역,10대미만(여자),10대미만(남자),10대(여자),10대(남자),20대(여자),20대(남자),30대(여자),30대(남자),40대(여자),...,60대(여자),60대(남자),70대(여자),70대(남자),80대(여자),80대(남자),90대(여자),90대(남자),100대(여자),100대(남자)
0,경상북도,0.030158,0.033195,0.056346,0.061360,0.060096,0.067859,0.053433,0.049572,0.083660,...,0.082684,0.063889,0.047717,0.030172,0.029361,0.011211,0.005578,0.001553,0.000234,0.000014
1,경상남도,0.027400,0.026902,0.053257,0.055568,0.064920,0.070618,0.056414,0.057550,0.077092,...,0.087201,0.069562,0.048357,0.033277,0.027361,0.011295,0.004910,0.001086,0.000179,0.000010
2,대전광역시,0.028197,0.029092,0.040490,0.042793,0.060834,0.064247,0.068654,0.066848,0.074667,...,0.088468,0.070261,0.051010,0.037143,0.032455,0.013751,0.006494,0.001740,0.000298,0.000066
3,경기도,0.038030,0.039507,0.052546,0.053990,0.058484,0.059894,0.072331,0.068704,0.083208,...,0.074237,0.058419,0.042422,0.032725,0.025136,0.012354,0.005390,0.001707,0.000290,0.000067
4,전라북도,0.028089,0.029065,0.059685,0.060080,0.066262,0.070322,0.052027,0.046596,0.077005,...,0.076636,0.068042,0.051025,0.035748,0.035049,0.012641,0.007223,0.001898,0.000158,0.000013
5,강원도,0.028888,0.030682,0.051287,0.052712,0.060374,0.063157,0.059821,0.054321,0.076201,...,0.088423,0.070014,0.047732,0.032760,0.033515,0.013027,0.007628,0.001677,0.000319,0.000017
6,광주광역시,0.031994,0.034566,0.049851,0.050254,0.065084,0.066875,0.066888,0.064416,0.080028,...,0.075930,0.059586,0.048552,0.031754,0.029749,0.010341,0.006343,0.000895,0.000353,0.000013
7,충청남도,0.031369,0.031711,0.059077,0.062422,0.067975,0.072622,0.065095,0.067303,0.078860,...,0.070278,0.057692,0.042296,0.028682,0.024514,0.010900,0.005429,0.001549,0.000219,0.000123
8,부산광역시,0.022003,0.022947,0.032681,0.035512,0.053796,0.057233,0.047049,0.048866,0.061952,...,0.109297,0.085294,0.078743,0.053388,0.047908,0.020228,0.008043,0.002240,0.000268,0.000028
9,제주특별자치도,0.034690,0.036695,0.060094,0.063080,0.069135,0.069667,0.050808,0.048026,0.080548,...,0.074248,0.055717,0.047944,0.033054,0.026836,0.011332,0.006832,0.000982,0.000368,0.000082
10,울산광역시,0.023991,0.025997,0.053874,0.056967,0.064240,0.074689,0.052830,0.052412,0.078450,...,0.096422,0.069088,0.052913,0.039413,0.026540,0.011912,0.004221,0.001087,0.000084,0.000000
11,충청북도,0.034678,0.035339,0.059808,0.061570,0.060824,0.064937,0.061069,0.056625,0.082318,...,0.075390,0.062427,0.041814,0.027566,0.027762,0.011212,0.005386,0.001310,0.000257,0.000037
12,전라남도,0.031930,0.034647,0.059154,0.063379,0.065517,0.070339,0.057977,0.053471,0.078358,...,0.071465,0.062352,0.042535,0.030704,0.027340,0.009312,0.005965,0.001458,0.000149,0.000464
13,대구광역시,0.023765,0.025626,0.034098,0.037897,0.062559,0.068251,0.061825,0.071207,0.070090,...,0.094511,0.073133,0.055914,0.036572,0.031887,0.012556,0.005364,0.001259,0.000219,0.000000
14,서울특별시,0.015323,0.015627,0.025210,0.026121,0.052712,0.056782,0.047655,0.051877,0.054216,...,0.119639,0.078939,0.097543,0.061050,0.047853,0.023463,0.011344,0.003326,0.000532,0.000152
15,세종특별자치시,0.037159,0.036601,0.053172,0.050047,0.079284,0.064833,0.106121,0.104447,0.075155,...,0.065279,0.051163,0.026056,0.026223,0.013893,0.007086,0.003459,0.001004,0.000279,0.000112

In [6]:
train.shape, test.shape, age_gender.shape

((2869, 15), (1008, 14), (16, 23))

In [7]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2869 entries, 0 to 2868
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   단지코드                          2869 non-null   object
 1   총세대수                          2869 non-null   int64
 2   임대건물구분                        2869 non-null   object
 3   지역                            2869 non-null   object
 4   공급유형                          2869 non-null   object
 5   전용면적                          2869 non-null   float64
 6   전용면적별세대수                      2869 non-null   int64
 7   공가수                           2869 non-null   float64
 8   자격유형                          2869 non-null   object
 9   임대보증금                         2300 non-null   object
 10  임대료                           2300 non-null   object
 11  도보 10분거리 내 지하철역 수(환승노선 수 반영)  2662 non-null   float64
 12  도보 10분거리 내 버스정류장 수            2869 non-null   float64
 13  단지내주차면수                       2869 non-null   float64
 14  등록차량수                         2869 non-null   float64
dtypes: float64(6), int64(2), object(7)
memory usage: 336.3+ KB

In [8]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1008 entries, 0 to 1007
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   단지코드                          1008 non-null   object
 1   총세대수                          1008 non-null   int64
 2   임대건물구분                        1008 non-null   object
 3   지역                            1008 non-null   object
 4   공급유형                          1008 non-null   object
 5   전용면적                          1008 non-null   float64
 6   전용면적별세대수                      1008 non-null   int64
 7   공가수                           1008 non-null   float64
 8   자격유형                          1006 non-null   object
 9   임대보증금                         828 non-null    object
 10  임대료                           828 non-null    object
 11  도보 10분거리 내 지하철역 수(환승노선 수 반영)  970 non-null    float64
 12  도보 10분거리 내 버스정류장 수            1008 non-null   float64
 13  단지내주차면수                       1008 non-null   float64
dtypes: float64(5), int64(2), object(7)
memory usage: 110.4+ KB

In [9]:
train.isnull().sum()

단지코드                              0
총세대수                              0
임대건물구분                            0
지역                                0
공급유형                              0
전용면적                              0
전용면적별세대수                          0
공가수                               0
자격유형                              0
임대보증금                           569
임대료                             569
도보 10분거리 내 지하철역 수(환승노선 수 반영)    207
도보 10분거리 내 버스정류장 수                0
단지내주차면수                           0
등록차량수                             0
dtype: int64

In [10]:
test.isnull().sum()

단지코드                              0
총세대수                              0
임대건물구분                            0
지역                                0
공급유형                              0
전용면적                              0
전용면적별세대수                          0
공가수                               0
자격유형                              2
임대보증금                           180
임대료                             180
도보 10분거리 내 지하철역 수(환승노선 수 반영)     38
도보 10분거리 내 버스정류장 수                0
단지내주차면수                           0
dtype: int64

### 컬럼명 변경

In [11]:
train.columns = ['단지코드', '총세대수', '임대건물구분', '지역', '공급유형', '전용면적', '전용면적별세대수', '공가수',
       '자격유형', '임대보증금', '임대료', '지하철수',
       '버정수', '단지내주차면수', '등록차량수']

test.columns = ['단지코드', '총세대수', '임대건물구분', '지역', '공급유형', '전용면적', '전용면적별세대수', '공가수',
       '자격유형', '임대보증금', '임대료', '지하철수',
       '버정수', '단지내주차면수']

### 임대보증금 '-' 인 값을 null값으로 바꿔주고 
### (임대보증금,임대료) type변경 -> float

In [12]:
train.loc[train.임대보증금=='-', '임대보증금'] = np.nan
test.loc[test.임대보증금=='-', '임대보증금'] = np.nan
train['임대보증금'] = train['임대보증금'].astype(float)
test['임대보증금'] = test['임대보증금'].astype(float)

train.loc[train.임대료=='-', '임대료'] = np.nan
test.loc[test.임대료=='-', '임대료'] = np.nan
train['임대료'] = train['임대료'].astype(float)
test['임대료'] = test['임대료'].astype(float)

### (임대보증금, 임대료) 결측값 -> 0으로 대체

In [13]:
train[['임대보증금', '임대료']] = train[['임대보증금', '임대료']].fillna(0)
test[['임대보증금', '임대료']] = test[['임대보증금', '임대료']].fillna(0)

In [14]:
train.isnull().sum()

단지코드          0
총세대수          0
임대건물구분        0
지역            0
공급유형          0
전용면적          0
전용면적별세대수      0
공가수           0
자격유형          0
임대보증금         0
임대료           0
지하철수        207
버정수           0
단지내주차면수       0
등록차량수         0
dtype: int64

In [15]:
test.isnull().sum()

단지코드         0
총세대수         0
임대건물구분       0
지역           0
공급유형         0
전용면적         0
전용면적별세대수     0
공가수          0
자격유형         2
임대보증금        0
임대료          0
지하철수        38
버정수          0
단지내주차면수      0
dtype: int64

In [16]:
train[train.지하철수.isnull()]

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철수,버정수,단지내주차면수,등록차량수
86,C1312,518,아파트,충청남도,국민임대,39.72,60,12.0,A,17460000.0,122210.0,NaN,3.0,527.0,359.0
87,C1312,518,아파트,충청남도,국민임대,39.98,89,12.0,A,17460000.0,122210.0,NaN,3.0,527.0,359.0
88,C1312,518,아파트,충청남도,국민임대,41.55,225,12.0,A,19954000.0,130940.0,NaN,3.0,527.0,359.0
89,C1312,518,아파트,충청남도,국민임대,46.90,143,12.0,A,28687000.0,149660.0,NaN,3.0,527.0,359.0
90,C1874,619,아파트,충청남도,영구임대,26.37,294,2.0,C,3141000.0,69900.0,NaN,2.0,97.0,62.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2292,C1350,1401,아파트,대전광역시,공공임대(10년),59.91,13,2.0,A,37474000.0,519350.0,NaN,6.0,1636.0,2315.0
2293,C1350,1401,아파트,대전광역시,공공임대(10년),59.92,223,2.0,A,37385000.0,516130.0,NaN,6.0,1636.0,2315.0
2294,C1350,1401,아파트,대전광역시,공공임대(분납),51.99,146,2.0,A,54612000.0,131130.0,NaN,6.0,1636.0,2315.0
2295,C1350,1401,아파트,대전광역시,공공임대(분납),59.91,32,2.0,A,63585000.0,152680.0,NaN,6.0,1636.0,2315.0
2296,C1350,1401,아파트,대전광역시,공공임대(분납),59.92,170,2.0,A,63501000.0,152480.0,NaN,6.0,1636.0,2315.0

In [17]:
train['지하철수'] = train['지하철수'].fillna(0)
test['지하철수'] = test['지하철수'].fillna(0)

In [18]:
train.isnull().sum()

단지코드        0
총세대수        0
임대건물구분      0
지역          0
공급유형        0
전용면적        0
전용면적별세대수    0
공가수         0
자격유형        0
임대보증금       0
임대료         0
지하철수        0
버정수         0
단지내주차면수     0
등록차량수       0
dtype: int64

In [19]:
test.isnull().sum()

단지코드        0
총세대수        0
임대건물구분      0
지역          0
공급유형        0
전용면적        0
전용면적별세대수    0
공가수         0
자격유형        2
임대보증금       0
임대료         0
지하철수        0
버정수         0
단지내주차면수     0
dtype: int64

In [20]:
test[test['자격유형'].isnull()]

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철수,버정수,단지내주차면수
196,C2411,962,아파트,경상남도,국민임대,46.90,240,25.0,NaN,71950000.0,37470.0,0.0,2.0,840.0
258,C2253,1161,아파트,강원도,영구임대,26.37,745,0.0,NaN,2249000.0,44770.0,0.0,2.0,173.0

In [21]:
test[test['단지코드'] =='C2411']

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철수,버정수,단지내주차면수
193,C2411,962,아파트,경상남도,국민임대,39.43,56,25.0,A,11992000.0,100720.0,0.0,2.0,840.0
194,C2411,962,아파트,경상남도,국민임대,39.72,336,25.0,A,11992000.0,100720.0,0.0,2.0,840.0
195,C2411,962,아파트,경상남도,국민임대,39.82,179,25.0,A,11992000.0,100720.0,0.0,2.0,840.0
196,C2411,962,아파트,경상남도,국민임대,46.90,240,25.0,NaN,71950000.0,37470.0,0.0,2.0,840.0
197,C2411,962,아파트,경상남도,국민임대,51.93,150,25.0,A,21586000.0,171480.0,0.0,2.0,840.0

### A로 채우기

In [22]:
test.loc[test['자격유형'].isnull() & test['단지코드'].isin(['C2411']) ,'자격유형'] = 'A'

In [23]:
test[test['자격유형'].isnull()]

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철수,버정수,단지내주차면수
258,C2253,1161,아파트,강원도,영구임대,26.37,745,0.0,NaN,2249000.0,44770.0,0.0,2.0,173.0

In [24]:
test[test['단지코드'] =='C2253']

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철수,버정수,단지내주차면수
258,C2253,1161,아파트,강원도,영구임대,26.37,745,0.0,NaN,2249000.0,44770.0,0.0,2.0,173.0
259,C2253,1161,아파트,강원도,영구임대,31.32,239,0.0,C,3731000.0,83020.0,0.0,2.0,173.0
260,C2253,1161,아파트,강원도,영구임대,31.32,149,0.0,C,3731000.0,83020.0,0.0,2.0,173.0
261,C2253,1161,상가,강원도,임대상가,13.77,1,0.0,D,0.0,0.0,0.0,2.0,173.0
262,C2253,1161,상가,강원도,임대상가,22.89,1,0.0,D,0.0,0.0,0.0,2.0,173.0
263,C2253,1161,상가,강원도,임대상가,22.91,1,0.0,D,0.0,0.0,0.0,2.0,173.0
264,C2253,1161,상가,강원도,임대상가,23.79,1,0.0,D,0.0,0.0,0.0,2.0,173.0
265,C2253,1161,상가,강원도,임대상가,23.79,1,0.0,D,0.0,0.0,0.0,2.0,173.0
266,C2253,1161,상가,강원도,임대상가,23.86,1,0.0,D,0.0,0.0,0.0,2.0,173.0
267,C2253,1161,상가,강원도,임대상가,23.86,1,0.0,D,0.0,0.0,0.0,2.0,173.0
268,C2253,1161,상가,강원도,임대상가,24.19,1,0.0,D,0.0,0.0,0.0,2.0,173.0
269,C2253,1161,상가,강원도,임대상가,27.75,1,0.0,D,0.0,0.0,0.0,2.0,173.0
270,C2253,1161,상가,강원도,임대상가,27.75,1,0.0,D,0.0,0.0,0.0,2.0,173.0
271,C2253,1161,상가,강원도,임대상가,27.75,1,0.0,D,0.0,0.0,0.0,2.0,173.0
272,C2253,1161,상가,강원도,임대상가,27.75,1,0.0,D,0.0,0.0,0.0,2.0,173.0
273,C2253,1161,상가,강원도,임대상가,27.75,1,0.0,D,0.0,0.0,0.0,2.0,173.0
274,C2253,1161,상가,강원도,임대상가,27.75,1,0.0,D,0.0,0.0,0.0,2.0,173.0
275,C2253,1161,상가,강원도,임대상가,28.19,1,0.0,D,0.0,0.0,0.0,2.0,173.0
276,C2253,1161,상가,강원도,임대상가,28.69,1,0.0,D,0.0,0.0,0.0,2.0,173.0
277,C2253,1161,상가,강원도,임대상가,28.69,1,0.0,D,0.0,0.0,0.0,2.0,173.0
278,C2253,1161,상가,강원도,임대상가,28.69,1,0.0,D,0.0,0.0,0.0,2.0,173.0
279,C2253,1161,상가,강원도,임대상가,28.69,1,0.0,D,0.0,0.0,0.0,2.0,173.0
280,C2253,1161,상가,강원도,임대상가,28.69,1,0.0,D,0.0,0.0,0.0,2.0,173.0
281,C2253,1161,상가,강원도,임대상가,28.93,1,0.0,D,0.0,0.0,0.0,2.0,173.0
282,C2253,1161,상가,강원도,임대상가,28.93,1,0.0,D,0.0,0.0,0.0,2.0,173.0
283,C2253,1161,상가,강원도,임대상가,42.35,1,0.0,D,0.0,0.0,0.0,2.0,173.0
284,C2253,1161,상가,강원도,임대상가,42.40,1,0.0,D,0.0,0.0,0.0,2.0,173.0
285,C2253,1161,상가,강원도,임대상가,55.17,1,0.0,D,0.0,0.0,0.0,2.0,173.0
286,C2253,1161,상가,강원도,임대상가,55.50,1,0.0,D,0.0,0.0,0.0,2.0,173.0
287,C2253,1161,상가,강원도,임대상가,82.92,1,0.0,D,0.0,0.0,0.0,2.0,173.0
288,C2253,1161,상가,강원도,임대상가,248.56,1,0.0,D,0.0,0.0,0.0,2.0,173.0

In [25]:
test.loc[test['자격유형'].isnull() & test['단지코드'].isin(['C2253']) ,'자격유형'] = 'C'

In [26]:
test[test['자격유형'].isnull()]

Empty DataFrame
Columns: [단지코드, 총세대수, 임대건물구분, 지역, 공급유형, 전용면적, 전용면적별세대수, 공가수, 자격유형, 임대보증금, 임대료, 지하철수, 버정수, 단지내주차면수]
Index: []

In [31]:
train

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철수,버정수,단지내주차면수,등록차량수
0,C2515,545,아파트,경상남도,국민임대,33.48,276,17.0,A,9216000.0,82940.0,0.0,3.0,624.0,205.0
1,C2515,545,아파트,경상남도,국민임대,39.60,60,17.0,A,12672000.0,107130.0,0.0,3.0,624.0,205.0
2,C2515,545,아파트,경상남도,국민임대,39.60,20,17.0,A,12672000.0,107130.0,0.0,3.0,624.0,205.0
3,C2515,545,아파트,경상남도,국민임대,46.90,38,17.0,A,18433000.0,149760.0,0.0,3.0,624.0,205.0
4,C2515,545,아파트,경상남도,국민임대,46.90,19,17.0,A,18433000.0,149760.0,0.0,3.0,624.0,205.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2864,C2532,239,아파트,강원도,국민임대,49.20,19,7.0,A,11346000.0,116090.0,0.0,1.0,166.0,146.0
2865,C2532,239,아파트,강원도,국민임대,51.08,34,7.0,A,14005000.0,142310.0,0.0,1.0,166.0,146.0
2866,C2532,239,아파트,강원도,국민임대,51.73,34,7.0,A,14005000.0,142310.0,0.0,1.0,166.0,146.0
2867,C2532,239,아파트,강원도,국민임대,51.96,114,7.0,A,14005000.0,142310.0,0.0,1.0,166.0,146.0
2868,C2532,239,아파트,강원도,국민임대,54.95,19,7.0,A,14830000.0,151030.0,0.0,1.0,166.0,146.0

### 라벨인코딩

In [32]:
train.자격유형.unique(),test.자격유형.unique()

(array(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M',
        'N', 'O'], dtype=object),
 array(['H', 'A', 'E', 'C', 'D', 'G', 'I', 'J', 'K', 'L', 'M', 'N'],
       dtype=object))

In [33]:
mapping = { 'A':1, 'B':2, 'C':3, 'D':4, 'E':5,
            'F':6, 'G':7, 'H':8, 'I':9, 'J':10,
            'K':11, 'L':12, 'M':13, 'N':14, 'O':15  }
mapping2 = {'A':1, 'C':3, 'D':4, 'E':5,
             'G':7, 'H':8, 'I':9, 'J':10,
            'K':11, 'L':12, 'M':13, 'N':14 }
train['자격유형'] =train['자격유형'].map(mapping).astype(int)
test['자격유형'] =test['자격유형'].map(mapping2).astype(int)

<ipython-input-33-00333a4a7b8b>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train['자격유형'] =train['자격유형'].map(mapping).astype(int)
<ipython-input-33-00333a4a7b8b>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['자격유형'] =test['자격유형'].map(mapping2).astype(int)

In [34]:
train.지역.unique(),test.지역.unique()

(array(['경상남도', '대전광역시', '경기도', '전라북도', '강원도', '광주광역시', '충청남도', '부산광역시',
        '제주특별자치도', '울산광역시', '충청북도', '전라남도', '경상북도', '대구광역시', '서울특별시',
        '세종특별자치시'], dtype=object),
 array(['경기도', '부산광역시', '전라북도', '경상남도', '충청남도', '대전광역시', '제주특별자치도', '강원도',
        '울산광역시', '경상북도', '충청북도', '광주광역시', '전라남도', '대구광역시', '세종특별자치시'],
       dtype=object))

In [35]:
map_region = {'경상북도':1, '경상남도':2, '대전광역시':3, '경기도':4, '전라북도':5,
              '강원도':6, '광주광역시':7, '충청남도':8, '부산광역시':9, '제주특별자치도':10,
            '울산광역시':11, '충청북도':12, '전라남도':13, '대구광역시':14, '서울특별시':15, '세종특별자치시':16}
train["지역"] = train['지역'].map(map_region).astype(int)
test["지역"] = test['지역'].map(map_region).astype(int)

<ipython-input-35-3d94aaf6a527>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train["지역"] = train['지역'].map(map_region).astype(int)
<ipython-input-35-3d94aaf6a527>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test["지역"] = test['지역'].map(map_region).astype(int)

In [36]:
train.공급유형.unique(),test.공급유형.unique()

(array(['국민임대', '공공임대(50년)', '영구임대', '임대상가', '공공임대(10년)', '공공임대(분납)',
        '장기전세', '공공분양', '행복주택', '공공임대(5년)'], dtype=object),
 array(['국민임대', '영구임대', '임대상가', '공공임대(50년)', '공공임대(10년)', '공공임대(분납)',
        '행복주택'], dtype=object))

In [37]:
map3 = {'국민임대':1, '공공임대(50년)':2, '영구임대':3, '임대상가':4, '공공임대(10년)':5,
              '공공임대(분납)':6, '장기전세':7, '공공분양':8, '행복주택':9, '공공임대(5년)':10}
train["공급유형"] = train['공급유형'].map(map3).astype(int)
test["공급유형"] = test['공급유형'].map(map3).astype(int)

<ipython-input-37-5eb444265aac>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train["공급유형"] = train['공급유형'].map(map3).astype(int)
<ipython-input-37-5eb444265aac>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test["공급유형"] = test['공급유형'].map(map3).astype(int)

In [38]:
train.임대건물구분.unique(),test.임대건물구분.unique()

(array(['아파트', '상가'], dtype=object), array(['아파트', '상가'], dtype=object))

In [39]:
map4 = {'아파트':1, '상가':2}
train["임대건물구분"] = train['임대건물구분'].map(map4).astype(int)
test["임대건물구분"] = test['임대건물구분'].map(map4).astype(int)

<ipython-input-39-940bbc2ceda5>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train["임대건물구분"] = train['임대건물구분'].map(map4).astype(int)
<ipython-input-39-940bbc2ceda5>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test["임대건물구분"] = test['임대건물구분'].map(map4).astype(int)

In [40]:
train

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철수,버정수,단지내주차면수,등록차량수
0,C2515,545,1,2,1,33.48,276,17.0,1,9216000.0,82940.0,0.0,3.0,624.0,205.0
1,C2515,545,1,2,1,39.60,60,17.0,1,12672000.0,107130.0,0.0,3.0,624.0,205.0
2,C2515,545,1,2,1,39.60,20,17.0,1,12672000.0,107130.0,0.0,3.0,624.0,205.0
3,C2515,545,1,2,1,46.90,38,17.0,1,18433000.0,149760.0,0.0,3.0,624.0,205.0
4,C2515,545,1,2,1,46.90,19,17.0,1,18433000.0,149760.0,0.0,3.0,624.0,205.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2864,C2532,239,1,6,1,49.20,19,7.0,1,11346000.0,116090.0,0.0,1.0,166.0,146.0
2865,C2532,239,1,6,1,51.08,34,7.0,1,14005000.0,142310.0,0.0,1.0,166.0,146.0
2866,C2532,239,1,6,1,51.73,34,7.0,1,14005000.0,142310.0,0.0,1.0,166.0,146.0
2867,C2532,239,1,6,1,51.96,114,7.0,1,14005000.0,142310.0,0.0,1.0,166.0,146.0
2868,C2532,239,1,6,1,54.95,19,7.0,1,14830000.0,151030.0,0.0,1.0,166.0,146.0

In [41]:
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge

In [42]:
#'총세대수', '전용면적', '전용면적별세대수','임대건물구분','지역',
#'공급유형', '공가수','지하철수','자격유형', '버정수', '임대보증금','임대료','단지내주차면수'
sel = [ '총세대수','전용면적별세대수', '전용면적','임대건물구분','지역','공급유형', '공가수',
       '지하철수','자격유형', '버정수', '임대보증금','임대료','단지내주차면수']

X_train = train[sel]
y_train = train['등록차량수']
X_test = test[sel]

### 선형회귀

In [119]:
model = LinearRegression()
model.fit(X_train, y_train)
pred = model.predict(X_test)

print("학습(score) :", model.score(X_train, y_train) ) # 결정계수

학습(score) : 0.7868979750984177

### 라쏘적용

In [115]:
model = Lasso()
model.fit(X_train, y_train)
pred = model.predict(X_test)

print("학습(score) :", model.score(X_train, y_train) ) # 결정계수

학습(score) : 0.7867065721610709

In [57]:
alpha_p = [0, 0.00001, 0.0001, 0.001, 0.01, 0.1, 1, 5, 10]

for p in alpha_p:
    lasso = Lasso(alpha=p).fit(X_train, y_train)
    tr_score = lasso.score(X_train, y_train)
    print("alpha : {} 학습 : {}".format(p,tr_score))
    print("유효한 feature 개수 : ", np.sum(lasso.coef_ !=0))

alpha : 0 학습 : 0.7868979750984177
유효한 feature 개수 :  13
alpha : 1e-05 학습 : 0.7868979750983967
유효한 feature 개수 :  13
alpha : 0.0001 학습 : 0.78689797509631
유효한 feature 개수 :  13
alpha : 0.001 학습 : 0.786897974887639
유효한 feature 개수 :  13
alpha : 0.01 학습 : 0.7868979540205444
유효한 feature 개수 :  13
alpha : 0.1 학습 : 0.7868958673112778
유효한 feature 개수 :  13
alpha : 1 학습 : 0.7866875520346357
유효한 feature 개수 :  13
alpha : 5 학습 : 0.784909875654063
유효한 feature 개수 :  12
alpha : 10 학습 : 0.7826526922436435
유효한 feature 개수 :  11

<ipython-input-57-94d9d9441cb8>:4: UserWarning: With alpha=0, this algorithm does not converge well. You are advised to use the LinearRegression estimator
  lasso = Lasso(alpha=p).fit(X_train, y_train)
C:\Users\wnsau\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: UserWarning: Coordinate descent with no regularization may lead to unexpected results and is discouraged.
  model = cd_fast.enet_coordinate_descent(
C:\Users\wnsau\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 50029882.38610606, tolerance: 46953.9249185563
  model = cd_fast.enet_coordinate_descent(

### 릿지적용

In [43]:
model = Ridge(alpha=5)
model.fit(X_train, y_train)
pred = model.predict(X_test)

print("학습(score) :", model.score(X_train, y_train) ) # 결정계수

학습(score) : 0.7868948977111072

C:\Users\wnsau\anaconda3\lib\site-packages\sklearn\linear_model\_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=8.40235e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,

In [59]:
alpha_p = [0, 0.00001, 0.0001, 0.001, 0.01, 0.1, 1, 5, 10]

for p in alpha_p:
    ridge = Ridge(alpha=p).fit(X_train, y_train)
    tr_score = ridge.score(X_train, y_train)
    print("alpha : {} 학습 : {}".format(p,tr_score))

alpha : 0 학습 : 0.7868979750984177
alpha : 1e-05 학습 : 0.7868979750984177
alpha : 0.0001 학습 : 0.7868979750984164
alpha : 0.001 학습 : 0.7868979750982819
alpha : 0.01 학습 : 0.7868979750848347
alpha : 0.1 학습 : 0.7868979737425942
alpha : 1 학습 : 0.7868978419597185
alpha : 5 학습 : 0.7868948977111072
alpha : 10 학습 : 0.7868867576767031

C:\Users\wnsau\anaconda3\lib\site-packages\sklearn\linear_model\_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=7.95345e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,
C:\Users\wnsau\anaconda3\lib\site-packages\sklearn\linear_model\_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=7.95345e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,
C:\Users\wnsau\anaconda3\lib\site-packages\sklearn\linear_model\_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=7.95345e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,
C:\Users\wnsau\anaconda3\lib\site-packages\sklearn\linear_model\_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=7.95354e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,
C:\Users\wnsau\anaconda3\lib\site-packages\sklearn\linear_model\_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=7.95434e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,
C:\Users\wnsau\anaconda3\lib\site-packages\sklearn\linear_model\_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=7.96242e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,
C:\Users\wnsau\anaconda3\lib\site-packages\sklearn\linear_model\_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=8.04322e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,
C:\Users\wnsau\anaconda3\lib\site-packages\sklearn\linear_model\_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=8.40235e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,
C:\Users\wnsau\anaconda3\lib\site-packages\sklearn\linear_model\_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=8.85138e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,

In [44]:
pred

array([ 5.87026176e+02,  6.71462778e+02,  6.11142417e+02,  6.11114993e+02,
        6.29646303e+02,  6.29723517e+02,  6.29265963e+02,  6.29715031e+02,
        1.11572140e+03,  1.11688006e+03,  1.17696344e+03,  1.20091902e+03,
        1.20074374e+03,  1.14046839e+03,  1.21943111e+03,  1.15807774e+03,
        1.15903072e+03,  5.93273531e+02,  6.07854158e+02,  6.08128398e+02,
        6.08265573e+02,  6.25505401e+02,  6.25292865e+02,  6.37521385e+02,
        6.57682129e+02,  5.45981502e+02,  5.46567689e+02,  5.56914169e+02,
        5.62808538e+02,  1.00213117e+03,  1.00260766e+03,  1.04115278e+03,
        1.04112890e+03,  1.04060099e+03,  1.04092322e+03,  1.06412117e+03,
        1.06415972e+03,  1.59892135e+03,  1.59953839e+03,  1.54168161e+03,
        1.63899788e+03,  1.63906723e+03,  1.63815780e+03,  1.63893938e+03,
        1.63906279e+03,  1.59747041e+03,  1.65287056e+03,  1.65294878e+03,
        9.09220860e+02,  9.22725378e+02,  9.24898728e+02,  9.34697039e+02,
        9.34491359e+02,  9.50415883e+02,  3.97930354e+02,  3.46340550e+02,
        3.46134870e+02,  4.26498506e+02,  3.07694368e+02,  3.17034614e+02,
        3.37488490e+02,  2.69654225e+02,  2.75148541e+02,  2.72135318e+02,
        2.72244845e+02,  2.88741684e+02,  2.98929998e+02,  4.68766827e+02,
        4.74087965e+02,  4.86965345e+02,  4.86882904e+02,  4.92263899e+02,
        1.48903165e+02,  1.49345377e+02,  1.48162718e+02,  1.12364319e+02,
        1.55497880e+02,  1.17268253e+02,  6.17702253e+01,  6.16329950e+01,
        6.16608119e+01,  6.16756476e+01,  6.17609530e+01,  6.17776432e+01,
        6.20168690e+01,  6.21281369e+01,  6.48319455e+01,  6.48486356e+01,
        6.48504901e+01,  6.88134798e+01,  1.62912695e+02,  4.64435284e+02,
        4.97497325e+02,  4.97444498e+02,  4.97482206e+02,  5.19597620e+02,
        3.93970730e+02,  3.94001581e+02,  3.93881786e+02,  3.94029190e+02,
        3.93821535e+02,  3.94061494e+02,  3.94191147e+02,  3.94269991e+02,
        1.99484352e+02,  1.95895239e+02,  2.03816588e+02,  1.07866753e+02,
        1.12132020e+02,  1.08157904e+02,  1.08493562e+02,  1.08960887e+02,
        1.09153751e+02,  1.09415230e+02,  1.09953025e+02,  1.10348026e+02,
        1.10370279e+02,  1.11232605e+02,  1.11262276e+02,  1.11277112e+02,
        1.11299366e+02,  1.11994790e+02,  1.12022607e+02,  1.12037442e+02,
        1.12122748e+02,  1.12139438e+02,  1.12378664e+02,  1.12575237e+02,
        1.15193740e+02,  1.15210430e+02,  1.15212285e+02,  1.19175275e+02,
        1.80125945e+02,  2.13274490e+02,  2.70334963e+02,  2.70787458e+02,
        5.98759166e+02,  6.15548723e+02,  6.16267196e+02,  6.30557388e+02,
        4.17315610e+02,  4.38340195e+02,  4.53403488e+02,  1.86077451e+02,
        1.85672947e+02,  1.92869700e+02,  9.89551847e+01,  9.92463356e+01,
        9.95819936e+01,  1.00049319e+02,  1.00242183e+02,  1.00503662e+02,
        1.01041457e+02,  1.01458711e+02,  1.02321037e+02,  1.02350708e+02,
        1.02365544e+02,  1.02387798e+02,  1.03663669e+02,  1.07650767e+02,
        1.70630221e+02,  6.76468460e+02,  6.75562401e+02,  6.76119141e+02,
        6.60581657e+02,  7.04700634e+02,  2.79169585e+02,  2.79906605e+02,
        2.79601513e+02,  1.90512202e+02,  1.90803353e+02,  1.91139011e+02,
        1.91606336e+02,  1.91799200e+02,  1.92060679e+02,  1.92598474e+02,
        1.93015728e+02,  1.93878054e+02,  1.93907726e+02,  1.93922561e+02,
        1.93944815e+02,  1.95220686e+02,  1.99207784e+02,  2.62187238e+02,
        4.14156523e+02,  4.14347433e+02,  4.19579276e+02,  4.41439042e+02,
        4.51672879e+02,  4.74956075e+02,  4.13365020e+02,  4.37628480e+02,
        8.74340654e+01,  9.50441957e+01, -8.32091264e-01, -2.55352942e-01,
       -1.58920811e-01, -3.65261834e-02,  8.72161205e-01,  1.56573076e+00,
        1.63249147e+00,  2.46700029e+00,  2.54859671e+00,  5.17451782e+00,
        7.55194074e+00,  4.34154211e+01,  4.43704701e+01,  1.82993979e+02,
        1.99460711e+02,  1.99769231e+02,  1.05626617e+02,  1.07317888e+02,
        1.07321597e+02,  1.07484790e+02,  1.07497771e+02,  1.07558968e+02,
        1.08219158e+02,  1.08300754e+02,  1.08393477e+02,  1.08437984e+02,
        1.10926675e+02,  1.10935947e+02,  1.13304098e+02,  1.13365295e+02,
        1.18450236e+02,  1.49167578e+02,  4.57642171e+02,  4.54732660e+02,
        4.62191732e+02,  5.16963334e+02,  5.19455463e+02,  5.23738621e+02,
        4.02567269e+02,  4.26363383e+02,  9.01388374e+02,  9.01154090e+02,
        9.23032996e+02,  2.35710921e+02,  2.57825558e+02,  5.71522074e+02,
        5.73248164e+02,  5.85113884e+02,  4.08030417e+02,  4.08195618e+02,
        4.28151691e+02,  2.11682554e+02,  2.12080201e+02,  2.12207037e+02,
        2.12148761e+02,  2.23494492e+02,  2.23919564e+02,  2.24032688e+02,
        2.23988124e+02,  1.13547172e+02,  1.14570836e+02,  1.14670977e+02,
        1.15186518e+02,  1.15264405e+02,  1.15472105e+02,  1.16245417e+02,
        1.17105888e+02,  1.17152250e+02,  1.17597321e+02,  1.17764223e+02,
        1.20419816e+02,  1.55680595e+02,  3.71509872e+02,  3.72236607e+02,
        3.72244025e+02,  3.85301042e+02,  3.85403882e+02,  4.10010554e+02,
        5.07879047e+02,  5.08434382e+02,  5.29673703e+02,  5.29879383e+02,
        5.07498526e+02,  5.36146693e+02,  5.36359229e+02,  5.36102130e+02,
        5.61940418e+02,  5.61998694e+02,  7.49386557e+02,  7.49688221e+02,
        7.59413089e+02,  7.88438337e+02,  7.88657729e+02,  7.88023549e+02,
        8.14067518e+02,  8.14184069e+02,  2.95651571e+02,  2.96245457e+02,
        3.29374492e+02,  3.29734432e+02,  4.61604439e+02,  4.62333385e+02,
        4.75883690e+02,  4.75986530e+02,  4.94051185e+02,  3.55922567e+02,
        3.56021979e+02,  3.56132518e+02,  3.79486805e+02,  3.91882360e+02,
        2.51519730e+02,  2.51848818e+02,  2.71758447e+02,  2.72492038e+02,
        2.81637242e+02,  5.84653299e+02,  5.85126475e+02,  6.10218485e+02,
        6.10252765e+02,  6.09659721e+02,  6.28961024e+02,  6.29128996e+02,
        1.08161336e+03,  1.14225219e+03,  1.14229332e+03,  1.16728935e+03,
        1.16737162e+03,  1.10661978e+03,  1.12602392e+03,  1.12633930e+03,
        1.15149892e+03,  1.08083085e+03,  1.09156094e+03,  1.09473154e+03,
        1.09258591e+03,  1.09670434e+03,  4.60128658e+02,  4.60449598e+02,
        4.60344734e+02,  5.06185747e+02,  5.05642099e+02,  5.36117216e+02,
        5.36240567e+02,  5.36501095e+02,  5.49344209e+02,  5.49453905e+02,
        5.49255081e+02,  5.61657159e+02,  5.61742859e+02,  3.74561085e+02,
        3.75061573e+02,  3.82424015e+02,  3.82924502e+02,  3.05729505e+02,
        3.06038024e+02,  3.13541419e+02,  3.13630547e+02,  3.33217443e+02,
        3.33447119e+02,  7.06664162e+02,  7.07668565e+02,  7.34039448e+02,
        7.34293119e+02,  7.34163136e+02,  7.34245408e+02,  7.50401425e+02,
        7.50675665e+02,  7.79126382e+02,  2.95616100e+02,  2.95657236e+02,
        3.02273105e+02,  3.10764179e+02,  9.95936874e+02,  1.01729900e+03,
        1.01695620e+03,  1.01729215e+03,  1.01660655e+03,  1.01694249e+03,
        1.03239272e+03,  1.03322229e+03,  6.38504058e+02,  6.38959982e+02,
        6.54643807e+02,  6.54931759e+02,  6.54661509e+02,  6.54912651e+02,
        5.62679169e+02,  5.71608765e+02,  2.05332154e+02,  2.05434994e+02,
        2.18829956e+02,  4.73444067e+02,  4.73465196e+02,  4.73567306e+02,
        4.73319983e+02,  4.73679923e+02,  4.78346565e+02,  4.78792205e+02,
        5.06374499e+02,  5.06367643e+02,  5.06518475e+02,  5.16633325e+02,
        5.16685250e+02,  3.27965635e+02,  3.28020483e+02,  3.28119895e+02,
        3.27948719e+02,  3.50272504e+02,  3.50179948e+02,  3.60788742e+02,
        3.60795598e+02,  3.90909490e+02,  4.11209257e+02,  4.11363517e+02,
        4.11106417e+02,  4.11322381e+02,  4.40983542e+02,  2.11505146e+02,
        2.11604558e+02,  2.26596080e+02,  3.60460330e+02,  3.60593291e+02,
        3.60644711e+02,  3.76148444e+02,  3.76000252e+02,  3.75931692e+02,
        5.64003490e+02,  5.65432367e+02,  5.65308578e+02,  9.25939246e+02,
        9.26203202e+02,  9.25364298e+02,  9.26211013e+02,  9.52489761e+02,
        9.52894265e+02,  9.52853129e+02,  9.67786648e+02,  9.68012896e+02,
        9.91369508e+02,  3.76148650e+02,  3.76501733e+02,  3.90621634e+02,
        3.90930154e+02,  4.12942737e+02,  2.14805108e+02,  2.14520584e+02,
        2.20469355e+02,  3.64285934e+02,  3.64328756e+02,  3.64133360e+02,
        3.79247714e+02,  3.79286827e+02,  3.79324535e+02,  3.79456821e+02,
        3.88124230e+02,  3.88216786e+02,  5.11297796e+02,  5.11486336e+02,
        5.10987532e+02,  5.11560008e+02,  5.26875426e+02,  5.26901163e+02,
        5.27411934e+02,  9.31486596e+02,  9.31829396e+02,  9.40929874e+02,
        9.56652531e+02,  5.33378948e+02,  5.33533208e+02,  5.46647304e+02,
        5.47326047e+02,  4.32907342e+02,  4.33198722e+02,  4.33051318e+02,
        4.55075812e+02,  4.55744271e+02,  4.55816259e+02,  4.55867679e+02,
        6.48981585e+02,  6.49406656e+02,  6.52620358e+02,  6.62680303e+02,
        6.63691562e+02,  2.95344253e+02,  2.95632205e+02,  3.11012359e+02,
        3.11173475e+02,  5.74669157e+02,  5.74683993e+02,  5.74810379e+02,
        5.74913219e+02,  6.01256030e+02,  6.01276429e+02,  6.01386125e+02,
        6.01488965e+02,  6.21208980e+02,  6.21017012e+02,  8.14908993e+02,
        8.15454157e+02,  8.15543285e+02,  8.41451021e+02,  8.61462416e+02,
        8.61119616e+02,  8.89958628e+02,  9.57439205e+02,  9.70003362e+02,
        9.69797682e+02,  9.90490469e+02,  1.00621049e+03,  1.00634761e+03,
        5.18967215e+02,  5.18322752e+02,  5.19141593e+02,  6.42253083e+02,
        6.56481400e+02,  6.56858479e+02,  6.86315304e+02,  6.05336392e+02,
        6.77809601e+02,  6.04838321e+02,  6.05669019e+02,  6.99972587e+02,
        8.52844101e+02,  8.52448981e+02,  8.52891193e+02,  8.52424985e+02,
        8.52644489e+02,  8.99965839e+02,  6.82476835e+02,  6.82325104e+02,
        6.82499931e+02,  6.82047436e+02,  6.82380064e+02,  7.30928020e+02,
        1.17523209e+03,  1.17543777e+03,  1.19022572e+03,  1.19063292e+03,
        1.18857888e+03,  2.58837830e+02,  2.67923381e+02,  2.60666164e+02,
        2.60556749e+02,  2.60786425e+02,  2.96568446e+02,  2.96529726e+02,
        2.96557150e+02,  2.96502302e+02,  2.96440598e+02,  2.67534736e+02,
        2.87750624e+02,  2.88090277e+02,  2.72905471e+02,  3.37503047e+02,
        3.37523615e+02,  3.37657307e+02,  1.58620084e+02,  1.67210733e+02,
        1.93725484e+02,  2.94585426e+02,  3.02541488e+02,  3.02909972e+02,
        3.03026524e+02,  3.31574397e+02,  3.27645292e+02,  3.27796123e+02,
        3.32764169e+02,  3.43470132e+02,  3.43562069e+02,  3.43599777e+02,
        3.63173233e+02,  9.41783334e+02,  9.44431327e+02,  9.44342199e+02,
        9.62151937e+02,  9.66658185e+02,  7.98678456e+02,  7.99665719e+02,
        7.99788677e+02,  8.15024115e+02,  5.50201307e+02,  5.50804634e+02,
        5.56178420e+02,  5.71320826e+02,  5.71074011e+02,  5.71341394e+02,
        3.15127954e+02,  3.26554153e+02,  3.44726420e+02,  3.44603967e+02,
        5.97102816e+02,  5.96760016e+02,  5.97687766e+02,  6.14481591e+02,
        6.14319856e+02,  6.53536532e+02,  1.15537167e+03,  1.16250985e+03,
        1.16348341e+03,  1.16268496e+03,  1.17679240e+03,  1.17705293e+03,
        1.17669625e+03,  1.17714188e+03,  1.18985750e+03,  1.02864012e+03,
        1.04256819e+03,  1.04308239e+03,  1.04216346e+03,  1.05765845e+03,
        1.06735956e+03,  6.20636548e+02,  5.82123119e+02,  6.85785708e+02,
        6.85917377e+02,  6.25751725e+02,  6.85670392e+02,  6.48140628e+02,
        1.09181780e+03,  1.09146814e+03,  1.09776029e+03,  1.09664530e+03,
        1.09760856e+03,  1.09753556e+03,  1.11447709e+03,  1.11479590e+03,
        1.12860516e+03,  1.12877999e+03,  1.15284834e+03,  6.68630160e+02,
        6.69051804e+02,  6.69096816e+02,  6.69251076e+02,  6.86089873e+02,
        6.86988008e+02,  7.00169915e+02,  8.04269855e+02,  8.29928753e+02,
        8.30298976e+02,  8.29672777e+02,  7.56400606e+02,  7.63652738e+02,
        7.63909219e+02,  6.77809177e+02,  6.98746955e+02,  3.30038887e+02,
        3.09888440e+02,  3.10061019e+02,  3.12035431e+02,  3.11863918e+02,
        3.12316413e+02,  3.34157779e+02,  8.19801093e+02,  8.53583370e+02,
        8.55160329e+02,  7.14116352e+02,  7.24479188e+02,  7.25315574e+02,
        6.09655802e+02,  6.09827764e+02,  6.60352225e+02,  6.61032092e+02,
        9.83240369e+02,  1.00772820e+03,  1.00945462e+03,  5.88373279e+02,
        6.19933528e+02,  6.39860240e+02,  1.00371197e+03,  1.06372055e+03,
        1.02614979e+03,  1.02582756e+03,  1.02594023e+03,  1.06034332e+03,
        1.06001423e+03,  1.12055696e+03,  1.12048498e+03,  1.12051549e+03,
        1.06025127e+03,  1.12052313e+03,  1.08302210e+03,  1.08317294e+03,
        1.14311981e+03,  1.10290412e+03,  1.10296582e+03,  5.07205444e+02,
        5.12861786e+02,  5.12891065e+02,  5.45750907e+02,  5.46275391e+02,
        5.82028401e+02,  9.26729941e+02,  9.52699816e+02,  9.52891784e+02,
        9.52412988e+02,  9.52363422e+02,  9.86040558e+02,  9.86047414e+02,
        9.85757720e+02,  1.00679548e+03,  1.00687370e+03,  2.16123307e+02,
        2.30286495e+02,  2.30142519e+02,  2.30393606e+02,  2.41749933e+02,
        2.41566675e+02,  6.30223990e+02,  6.30868387e+02,  6.57975852e+02,
        5.64822692e+02,  5.65146178e+02,  5.74137723e+02,  1.11099884e+03,
        1.11058147e+03,  1.12301761e+03,  9.79618000e+02,  9.79119141e+02,
        9.90520012e+02,  1.02237032e+03,  1.03511513e+03,  9.08941487e+02,
        9.09279102e+02,  9.82595913e+02,  9.81074723e+02,  9.95903420e+02,
        1.03434041e+03,  1.04563885e+03,  7.82518206e+02,  7.82622169e+02,
        8.06956635e+02,  8.06888468e+02,  1.55696089e+02,  1.76594187e+02,
        1.76841003e+02,  2.02849086e+02,  1.39306572e+02,  1.39567099e+02,
        1.84351788e+02,  5.08498481e+02,  5.09033249e+02,  5.30365085e+02,
        5.30913565e+02,  5.43124464e+02,  4.44990175e+02,  4.45120439e+02,
        4.51051621e+02,  8.87006104e+02,  9.07181231e+02,  9.07740669e+02,
        9.08191872e+02,  9.08201144e+02,  9.08208000e+02,  1.29132885e+03,
        1.31542270e+03,  1.31107188e+03,  1.31192888e+03,  1.31220312e+03,
        5.30111509e+02,  5.30694269e+02,  5.45378348e+02,  5.66141985e+02,
        5.66608193e+02,  5.90872973e+02,  7.43267590e+02,  7.74845073e+02,
        7.75161011e+02,  7.74412977e+02,  8.01424719e+02,  7.58132216e+02,
        7.74869035e+02,  7.74053115e+02,  3.13136740e+02,  3.13230138e+02,
        3.41143263e+02,  3.41321519e+02,  3.52308665e+02,  7.49893320e+02,
        7.71288276e+02,  7.95679355e+02,  7.48914629e+02,  7.49607646e+02,
        2.10735645e+02,  2.27064523e+02,  2.27489595e+02,  2.26075958e+02,
        2.40983782e+02,  2.41158722e+02,  2.51190790e+02,  2.51290314e+02,
        3.36879362e+02,  3.36042931e+02,  3.44910203e+02,  3.44889635e+02,
        3.44814220e+02,  3.44882779e+02,  3.77282543e+02,  3.55653981e+02,
        3.55321465e+02,  3.55749796e+02,  3.55705232e+02,  5.54389415e+02,
        5.54896758e+02,  5.54320855e+02,  5.90540807e+02,  5.91041294e+02,
        6.16192758e+02,  1.33546085e+02,  1.33696186e+02,  1.45259139e+02,
        1.77061845e+02,  2.04930975e+02,  2.05199421e+02,  2.10261274e+01,
        2.10316908e+01,  5.15630750e+01,  5.15562190e+01,  7.78487059e+01,
        7.78932130e+01,  6.91092387e+02,  6.89973286e+02,  6.91201576e+02,
        6.91263897e+02,  5.41082486e+02,  5.41685813e+02,  5.45606216e+02,
        5.50853030e+02,  5.51374085e+02,  5.70475956e+02,  5.70887315e+02,
        5.70784756e+02,  5.68406878e+02,  2.47284465e+02,  2.47647833e+02,
        2.59951957e+02,  2.60068509e+02,  2.60020517e+02,  2.78440398e+02,
        2.79071150e+02,  2.58988383e+02,  2.58307634e+02,  2.76854605e+02,
        2.76690061e+02,  2.76837296e+02,  2.95092514e+02,  2.95710508e+02,
        2.59140682e+02,  2.79749090e+02,  2.79896494e+02,  2.84512431e+02,
        2.84718111e+02,  2.84744523e+02,  2.84746659e+02,  2.91656715e+02,
        4.26038427e+02,  4.44681170e+02,  4.44694882e+02,  4.44261662e+02,
        4.44439917e+02,  4.59642746e+02,  5.00542278e+02,  5.01484978e+02,
        5.01713806e+02,  5.17613180e+02,  5.18275011e+02,  5.32701888e+02,
        5.33999472e+02,  4.16384149e+02,  4.36712116e+02,  4.37219459e+02,
        4.55698431e+02,  4.56678838e+02,  1.82265699e+02,  1.82464523e+02,
        2.09417466e+02,  1.80881287e+02,  1.85813081e+02,  8.33580829e+01,
        1.02357521e+02,  1.02330097e+02,  1.03995138e+02,  1.21292979e+02,
        1.50816239e+02,  1.50792524e+02,  1.50796795e+02,  1.67434973e+02,
        1.67455541e+02,  1.67447673e+02,  1.67461385e+02,  1.67477626e+02,
        1.67481054e+02,  1.67494766e+02,  1.67498194e+02,  1.85078207e+02,
        1.85065057e+02,  1.85054773e+02,  1.85103158e+02,  1.85110014e+02,
        1.84925464e+02,  1.85119567e+02,  1.85112262e+02,  1.85125974e+02,
        2.99022671e+02,  2.99118655e+02,  2.98940399e+02,  2.99104943e+02,
        3.04718353e+02,  3.04896609e+02,  3.17718072e+02,  3.17731784e+02,
        2.07080056e+02,  2.15070209e+02,  2.15247397e+02,  2.15366759e+02,
        2.23053584e+02,  2.23740138e+02,  1.83840211e+02,  1.83620819e+02,
        2.04881408e+02,  2.24524015e+02,  3.56884204e+02,  3.57391547e+02,
        3.81584495e+02,  3.82407214e+02,  4.06817616e+02,  2.38215424e+01,
        2.55335504e+01,  1.69974142e+02,  1.69783860e+02,  1.70051243e+02,
        2.16671946e+02,  2.16521114e+02,  2.35588415e+02,  2.35869511e+02,
        2.09477467e+02,  2.11260393e+02,  2.11459217e+02,  2.12894342e+02,
       -1.00302378e+01, -9.76971002e+00,  5.80784785e+00,  1.59015327e+01])

In [45]:
test.shape, sub.shape, train.shape

((936, 14), (150, 2), (2549, 15))

In [46]:
test.columns

Index(['단지코드', '총세대수', '임대건물구분', '지역', '공급유형', '전용면적', '전용면적별세대수', '공가수',
       '자격유형', '임대보증금', '임대료', '지하철수', '버정수', '단지내주차면수'],
      dtype='object')

In [47]:
len(test['단지코드'].unique())

147

In [48]:
len(sub)

150

In [49]:
test['등록차량수'] = pred
test['코드별차량수평균'] = test.groupby('단지코드')['등록차량수'].transform(np.mean)
test_new = test.drop_duplicates(['단지코드'], keep='first').reset_index()
test_new

<ipython-input-49-35cc81c78d6d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['등록차량수'] = pred
<ipython-input-49-35cc81c78d6d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['코드별차량수평균'] = test.groupby('단지코드')['등록차량수'].transform(np.mean)

,index,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철수,버정수,단지내주차면수,등록차량수,코드별차량수평균
0,0,C1072,754,1,4,1,39.79,116,14.0,8,22830000.0,189840.0,0.0,2.0,683.0,587.026176,624.887147
1,8,C1128,1354,1,4,1,39.79,368,9.0,8,22830000.0,189840.0,0.0,3.0,1216.0,1115.721399,1165.359513
2,17,C1456,619,1,9,1,33.40,82,18.0,1,19706000.0,156200.0,0.0,16.0,547.0,593.273531,620.440430
3,26,C1840,593,1,5,1,39.57,253,7.0,1,14418000.0,108130.0,0.0,3.0,543.0,545.981502,553.067974
4,30,C1332,1297,1,4,1,39.99,282,11.0,8,28598000.0,203050.0,0.0,2.0,1112.0,1002.131168,1037.103200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142,982,C2456,349,1,10,1,26.44,24,17.0,8,6992000.0,117000.0,0.0,4.0,270.0,183.840211,199.216613
143,986,C1266,596,1,12,1,26.94,164,35.0,8,8084000.0,149910.0,0.0,1.0,593.0,356.884204,377.017015
144,991,C2152,120,1,6,3,24.83,66,9.0,3,0.0,0.0,0.0,1.0,40.0,23.821542,24.677546
145,993,C1267,675,1,2,1,24.87,28,38.0,8,6882000.0,104370.0,0.0,1.0,467.0,169.974142,205.413786
146,1004,C2189,382,1,5,1,29.19,96,45.0,8,6872000.0,106400.0,0.0,2.0,300.0,-10.030238,0.477358

In [50]:
sub_df = test_new[ ['단지코드', '코드별차량수평균']]
sub_df.columns = ['code', 'num']
sub_df

      code          num
0    C1072   624.887147
1    C1128  1165.359513
2    C1456   620.440430
3    C1840   553.067974
4    C1332  1037.103200
..     ...          ...
142  C2456   199.216613
143  C1266   377.017015
144  C2152    24.677546
145  C1267   205.413786
146  C2189     0.477358

[147 rows x 2 columns]

In [51]:
sub_df = sub_df.append({'code':'C2675','num': 0}, ignore_index=True)
sub_df = sub_df.append({'code':'C2335','num': 0}, ignore_index=True)
sub_df = sub_df.append({'code':'C1327','num': 0}, ignore_index=True)
sub_df.tail()

      code         num
145  C1267  205.413786
146  C2189    0.477358
147  C2675    0.000000
148  C2335    0.000000
149  C1327    0.000000

In [52]:
sub_df.to_csv('0720_first_model.csv', index=False)

### 선형모델 점수 : 117.1701040267

### 릿지회귀모델(알파=0) 점수 : 117.0118424957