In [25]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

In [26]:
train = pd.read_csv("park_data/train_df.csv")
test = pd.read_csv("park_data/test_df.csv")
age_gender = pd.read_csv("park_data/age_gender_info.csv")
sub = pd.read_csv("park_data/sample_submission.csv")

In [27]:
train

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
0,C2515,545,아파트,경상남도,국민임대,33.48,276,17.0,A,9216000,82940,0.0,3.0,624.0,205.0
1,C2515,545,아파트,경상남도,국민임대,39.60,60,17.0,A,12672000,107130,0.0,3.0,624.0,205.0
2,C2515,545,아파트,경상남도,국민임대,39.60,20,17.0,A,12672000,107130,0.0,3.0,624.0,205.0
3,C2515,545,아파트,경상남도,국민임대,46.90,38,17.0,A,18433000,149760,0.0,3.0,624.0,205.0
4,C2515,545,아파트,경상남도,국민임대,46.90,19,17.0,A,18433000,149760,0.0,3.0,624.0,205.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2864,C2532,239,아파트,강원도,국민임대,49.20,19,7.0,A,11346000,116090,0.0,1.0,166.0,146.0
2865,C2532,239,아파트,강원도,국민임대,51.08,34,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2866,C2532,239,아파트,강원도,국민임대,51.73,34,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2867,C2532,239,아파트,강원도,국민임대,51.96,114,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2868,C2532,239,아파트,강원도,국민임대,54.95,19,7.0,A,14830000,151030,0.0,1.0,166.0,146.0

In [28]:
test

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수
0,C1072,754,아파트,경기도,국민임대,39.79,116,14.0,H,22830000,189840,0.0,2.0,683.0
1,C1072,754,아파트,경기도,국민임대,46.81,30,14.0,A,36048000,249930,0.0,2.0,683.0
2,C1072,754,아파트,경기도,국민임대,46.90,112,14.0,H,36048000,249930,0.0,2.0,683.0
3,C1072,754,아파트,경기도,국민임대,46.90,120,14.0,H,36048000,249930,0.0,2.0,683.0
4,C1072,754,아파트,경기도,국민임대,51.46,60,14.0,H,43497000,296780,0.0,2.0,683.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1003,C1267,675,아파트,경상남도,행복주택,36.77,126,38.0,L,-,-,0.0,1.0,467.0
1004,C2189,382,아파트,전라북도,국민임대,29.19,96,45.0,H,6872000,106400,0.0,2.0,300.0
1005,C2189,382,아파트,전라북도,국민임대,29.19,20,45.0,H,6872000,106400,0.0,2.0,300.0
1006,C2189,382,아파트,전라북도,국민임대,39.45,202,45.0,H,13410000,144600,0.0,2.0,300.0
1007,C2189,382,아파트,전라북도,국민임대,46.23,60,45.0,H,18689000,166500,0.0,2.0,300.0

### 컬럼명 바꿈

In [29]:
train.columns = ['단지코드', '총세대수', '임대건물구분', '지역', '공급유형', '전용면적', '전용면적별세대수', '공가수',
       '자격유형', '임대보증금', '임대료', '지하철수',
       '버정수', '단지내주차면수', '등록차량수']

test.columns = ['단지코드', '총세대수', '임대건물구분', '지역', '공급유형', '전용면적', '전용면적별세대수', '공가수',
       '자격유형', '임대보증금', '임대료', '지하철수',
       '버정수', '단지내주차면수']

### 자격유형 결측값 대체

In [30]:
test.loc[test['자격유형'].isnull() & test['단지코드'].isin(['C2411']) ,'자격유형'] = 'A'
test.loc[test['자격유형'].isnull() & test['단지코드'].isin(['C2253']) ,'자격유형'] = 'C'

### 지하철 결측값있는데이터 train, test로 나누기

In [31]:
test_df = train[train.지하철수.isnull()]
train_df = train[~(train.지하철수.isnull())]

### 인덱스 초기화

In [32]:
train_df.reset_index(drop=True, inplace=True)
test_df.reset_index(drop=True, inplace=True)

In [33]:
train_df

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철수,버정수,단지내주차면수,등록차량수
0,C2515,545,아파트,경상남도,국민임대,33.48,276,17.0,A,9216000,82940,0.0,3.0,624.0,205.0
1,C2515,545,아파트,경상남도,국민임대,39.60,60,17.0,A,12672000,107130,0.0,3.0,624.0,205.0
2,C2515,545,아파트,경상남도,국민임대,39.60,20,17.0,A,12672000,107130,0.0,3.0,624.0,205.0
3,C2515,545,아파트,경상남도,국민임대,46.90,38,17.0,A,18433000,149760,0.0,3.0,624.0,205.0
4,C2515,545,아파트,경상남도,국민임대,46.90,19,17.0,A,18433000,149760,0.0,3.0,624.0,205.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2657,C2532,239,아파트,강원도,국민임대,49.20,19,7.0,A,11346000,116090,0.0,1.0,166.0,146.0
2658,C2532,239,아파트,강원도,국민임대,51.08,34,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2659,C2532,239,아파트,강원도,국민임대,51.73,34,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2660,C2532,239,아파트,강원도,국민임대,51.96,114,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2661,C2532,239,아파트,강원도,국민임대,54.95,19,7.0,A,14830000,151030,0.0,1.0,166.0,146.0

### 임대보증금, 임대료 결측값 해결, 지하철수 type 변경

In [34]:
train_df.loc[train_df.임대보증금=='-', '임대보증금'] = np.nan
test_df.loc[test_df.임대보증금=='-', '임대보증금'] = np.nan
test.loc[test.임대보증금=='-', '임대보증금'] = np.nan
train_df['임대보증금'] = train_df['임대보증금'].astype(float)
test_df['임대보증금'] = test_df['임대보증금'].astype(float)
test['임대보증금'] = test['임대보증금'].astype(float)

train_df.loc[train_df.임대료=='-', '임대료'] = np.nan
test_df.loc[test_df.임대료=='-', '임대료'] = np.nan
test.loc[test.임대료=='-', '임대료'] = np.nan
train_df['임대료'] = train_df['임대료'].astype(float)
test_df['임대료'] = test_df['임대료'].astype(float)
test['임대료'] = test['임대료'].astype(float)

C:\Users\wnsau\anaconda3\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s
<ipython-input-34-639a7be170b9>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df['임대보증금'] = train_df['임대보증금'].astype(float)
<ipython-input-34-639a7be170b9>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df['임대보증금'] = test_df['임대보증금'].astype(float)
<ipython-input-34-639a7be170b9>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df['임대료'] = train_df['임대료'].astype(float)
<ipython-input-34-639a7be170b9>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df['임대료'] = test_df['임대료'].astype(float)

In [35]:
train_df[['임대보증금', '임대료']] = train_df[['임대보증금', '임대료']].fillna(0)
test_df[['임대보증금', '임대료']] = test_df[['임대보증금', '임대료']].fillna(0)
test[['임대보증금', '임대료']] = test[['임대보증금', '임대료']].fillna(0)

C:\Users\wnsau\anaconda3\lib\site-packages\pandas\core\frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [36]:
train_df.isnull().sum()

단지코드        0
총세대수        0
임대건물구분      0
지역          0
공급유형        0
전용면적        0
전용면적별세대수    0
공가수         0
자격유형        0
임대보증금       0
임대료         0
지하철수        0
버정수         0
단지내주차면수     0
등록차량수       0
dtype: int64

### 라벨인코딩

In [37]:
train_df.자격유형.unique()

array(['A', 'B', 'C', 'D', 'F', 'E', 'G', 'H', 'I', 'J', 'K', 'L', 'M',
       'N', 'O'], dtype=object)

In [38]:
mapping = { 'A':1, 'B':2, 'C':3, 'D':4,
            'E':5, 'F':6, 'G':7, 'H':8,
            'I':9, 'J':10, 'K':11, 'L':12, 'M':13, 'N':14, 'O':15  }
train_df['자격유형'] =train_df['자격유형'].map(mapping).astype(int)
test_df['자격유형'] =test_df['자격유형'].map(mapping).astype(int)
test['자격유형'] =test['자격유형'].map(mapping).astype(int)

<ipython-input-38-8b9e286c5f42>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df['자격유형'] =train_df['자격유형'].map(mapping).astype(int)
<ipython-input-38-8b9e286c5f42>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df['자격유형'] =test_df['자격유형'].map(mapping).astype(int)

In [39]:
map_region = {'경상북도':1, '경상남도':2, '대전광역시':3, '경기도':4, '전라북도':5,
              '강원도':6, '광주광역시':7, '충청남도':8, '부산광역시':9, '제주특별자치도':10,
            '울산광역시':11, '충청북도':12, '전라남도':13, '대구광역시':14, '세종특별자치시':15, '서울특별시':16}
train_df["지역"] = train_df['지역'].map(map_region).astype(int)
test_df["지역"] = test_df['지역'].map(map_region).astype(int)
test["지역"] = test['지역'].map(map_region).astype(int)

<ipython-input-39-d4f1861ea9cd>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df["지역"] = train_df['지역'].map(map_region).astype(int)
<ipython-input-39-d4f1861ea9cd>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df["지역"] = test_df['지역'].map(map_region).astype(int)

In [40]:
test_df['공급유형'].unique()

array(['국민임대', '영구임대', '임대상가', '공공임대(50년)', '공공분양', '공공임대(10년)',
       '공공임대(분납)'], dtype=object)

In [41]:
map3 = {'국민임대':1, '공공임대(50년)':2, '영구임대':3, '임대상가':4, '공공임대(10년)':5,
              '공공임대(분납)':6, '행복주택':7, '공공임대(5년)':8, '장기전세':9, '공공분양':10 }
train_df["공급유형"] = train_df['공급유형'].map(map3).astype(int)
test_df["공급유형"] = test_df['공급유형'].map(map3).astype(int)
test["공급유형"] = test['공급유형'].map(map3).astype(int)

<ipython-input-41-c71cadd492a0>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df["공급유형"] = train_df['공급유형'].map(map3).astype(int)
<ipython-input-41-c71cadd492a0>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df["공급유형"] = test_df['공급유형'].map(map3).astype(int)

In [42]:
map4 = {'아파트':1, '상가':2}
train_df["임대건물구분"] = train_df['임대건물구분'].map(map4).astype(int)
test_df["임대건물구분"] = test_df['임대건물구분'].map(map4).astype(int)
test["임대건물구분"] = test['임대건물구분'].map(map4).astype(int)

<ipython-input-42-eed2b20bf695>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df["임대건물구분"] = train_df['임대건물구분'].map(map4).astype(int)
<ipython-input-42-eed2b20bf695>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df["임대건물구분"] = test_df['임대건물구분'].map(map4).astype(int)

In [43]:
train_df

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철수,버정수,단지내주차면수,등록차량수
0,C2515,545,1,2,1,33.48,276,17.0,1,9216000.0,82940.0,0.0,3.0,624.0,205.0
1,C2515,545,1,2,1,39.60,60,17.0,1,12672000.0,107130.0,0.0,3.0,624.0,205.0
2,C2515,545,1,2,1,39.60,20,17.0,1,12672000.0,107130.0,0.0,3.0,624.0,205.0
3,C2515,545,1,2,1,46.90,38,17.0,1,18433000.0,149760.0,0.0,3.0,624.0,205.0
4,C2515,545,1,2,1,46.90,19,17.0,1,18433000.0,149760.0,0.0,3.0,624.0,205.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2657,C2532,239,1,6,1,49.20,19,7.0,1,11346000.0,116090.0,0.0,1.0,166.0,146.0
2658,C2532,239,1,6,1,51.08,34,7.0,1,14005000.0,142310.0,0.0,1.0,166.0,146.0
2659,C2532,239,1,6,1,51.73,34,7.0,1,14005000.0,142310.0,0.0,1.0,166.0,146.0
2660,C2532,239,1,6,1,51.96,114,7.0,1,14005000.0,142310.0,0.0,1.0,166.0,146.0
2661,C2532,239,1,6,1,54.95,19,7.0,1,14830000.0,151030.0,0.0,1.0,166.0,146.0

In [44]:
del test_df['지하철수']

In [45]:
test_df

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,버정수,단지내주차면수,등록차량수
0,C1312,518,1,8,1,39.72,60,12.0,1,17460000.0,122210.0,3.0,527.0,359.0
1,C1312,518,1,8,1,39.98,89,12.0,1,17460000.0,122210.0,3.0,527.0,359.0
2,C1312,518,1,8,1,41.55,225,12.0,1,19954000.0,130940.0,3.0,527.0,359.0
3,C1312,518,1,8,1,46.90,143,12.0,1,28687000.0,149660.0,3.0,527.0,359.0
4,C1874,619,1,8,3,26.37,294,2.0,3,3141000.0,69900.0,2.0,97.0,62.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202,C1350,1401,1,3,5,59.91,13,2.0,1,37474000.0,519350.0,6.0,1636.0,2315.0
203,C1350,1401,1,3,5,59.92,223,2.0,1,37385000.0,516130.0,6.0,1636.0,2315.0
204,C1350,1401,1,3,6,51.99,146,2.0,1,54612000.0,131130.0,6.0,1636.0,2315.0
205,C1350,1401,1,3,6,59.91,32,2.0,1,63585000.0,152680.0,6.0,1636.0,2315.0
206,C1350,1401,1,3,6,59.92,170,2.0,1,63501000.0,152480.0,6.0,1636.0,2315.0

In [46]:
train['지하철수'].value_counts()

0.0    2223
1.0     400
2.0      33
3.0       6
Name: 지하철수, dtype: int64

In [47]:
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier

In [48]:
# '총세대수', '전용면적', '전용면적별세대수','임대건물구분','지역',
# '공급유형', '공가수','자격유형', '버정수', '임대보증금','임대료',
#        '단지내주차면수'
sel = ['총세대수','임대건물구분','지역',
'공급유형', '공가수','자격유형', '버정수','단지내주차면수']

X_train = train_df[sel]
y_train = train_df['지하철수']
X_test = test_df[sel]

### 여러모델 테스트

In [30]:
model = LinearRegression()
model.fit(X_train, y_train)
pred = model.predict(X_test)

print("학습(score) :", model.score(X_train, y_train) ) # 결정계수

학습(score) : 0.10656361768237599

In [244]:
model = LogisticRegression()
model.fit(X_train, y_train)
pred = model.predict(X_test)

print("학습(score) :", model.score(X_train, y_train) ) # 결정계수

학습(score) : 0.8382352941176471

C:\Users\wnsau\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [462]:
model = KNeighborsClassifier(n_neighbors=1)
model.fit(X_train, y_train)
pred = model.predict(X_test)

print("학습(score) :", model.score(X_train, y_train) ) # 결정계수

학습(score) : 1.0

In [49]:
model = DecisionTreeClassifier(max_depth=7, random_state=0)
model.fit(X_train, y_train)
pred = model.predict(X_test)

print("학습(score) :", model.score(X_train, y_train) ) # 결정계수

학습(score) : 0.950037565740045

In [40]:
model = RandomForestClassifier()
model.fit(X_train, y_train)
pred = model.predict(X_test)

print("학습(score) :", model.score(X_train, y_train) ) # 결정계수

학습(score) : 1.0

In [52]:
model = GradientBoostingClassifier(random_state=0, max_depth=1, learning_rate=0.01)
model.fit(X_train, y_train)
pred = model.predict(X_test)

print("학습(score) :", model.score(X_train, y_train) ) # 결정계수

학습(score) : 0.8382352941176471

In [50]:
pred

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       1., 1., 1., 0., 0., 0., 0., 0., 0., 0., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 1., 1., 1., 1., 1., 1., 1., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1.])

In [51]:
test_df['지하철수'] = pred

<ipython-input-51-944eb1f47482>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df['지하철수'] = pred

In [52]:
test_df

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,버정수,단지내주차면수,등록차량수,지하철수
0,C1312,518,1,8,1,39.72,60,12.0,1,17460000.0,122210.0,3.0,527.0,359.0,0.0
1,C1312,518,1,8,1,39.98,89,12.0,1,17460000.0,122210.0,3.0,527.0,359.0,0.0
2,C1312,518,1,8,1,41.55,225,12.0,1,19954000.0,130940.0,3.0,527.0,359.0,0.0
3,C1312,518,1,8,1,46.90,143,12.0,1,28687000.0,149660.0,3.0,527.0,359.0,0.0
4,C1874,619,1,8,3,26.37,294,2.0,3,3141000.0,69900.0,2.0,97.0,62.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202,C1350,1401,1,3,5,59.91,13,2.0,1,37474000.0,519350.0,6.0,1636.0,2315.0,1.0
203,C1350,1401,1,3,5,59.92,223,2.0,1,37385000.0,516130.0,6.0,1636.0,2315.0,1.0
204,C1350,1401,1,3,6,51.99,146,2.0,1,54612000.0,131130.0,6.0,1636.0,2315.0,1.0
205,C1350,1401,1,3,6,59.91,32,2.0,1,63585000.0,152680.0,6.0,1636.0,2315.0,1.0
206,C1350,1401,1,3,6,59.92,170,2.0,1,63501000.0,152480.0,6.0,1636.0,2315.0,1.0

In [53]:
all_df = pd.concat([train_df, test_df], join='inner')
all_df

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철수,버정수,단지내주차면수,등록차량수
0,C2515,545,1,2,1,33.48,276,17.0,1,9216000.0,82940.0,0.0,3.0,624.0,205.0
1,C2515,545,1,2,1,39.60,60,17.0,1,12672000.0,107130.0,0.0,3.0,624.0,205.0
2,C2515,545,1,2,1,39.60,20,17.0,1,12672000.0,107130.0,0.0,3.0,624.0,205.0
3,C2515,545,1,2,1,46.90,38,17.0,1,18433000.0,149760.0,0.0,3.0,624.0,205.0
4,C2515,545,1,2,1,46.90,19,17.0,1,18433000.0,149760.0,0.0,3.0,624.0,205.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202,C1350,1401,1,3,5,59.91,13,2.0,1,37474000.0,519350.0,1.0,6.0,1636.0,2315.0
203,C1350,1401,1,3,5,59.92,223,2.0,1,37385000.0,516130.0,1.0,6.0,1636.0,2315.0
204,C1350,1401,1,3,6,51.99,146,2.0,1,54612000.0,131130.0,1.0,6.0,1636.0,2315.0
205,C1350,1401,1,3,6,59.91,32,2.0,1,63585000.0,152680.0,1.0,6.0,1636.0,2315.0
206,C1350,1401,1,3,6,59.92,170,2.0,1,63501000.0,152480.0,1.0,6.0,1636.0,2315.0

In [54]:
all_df.reset_index(drop=True, inplace=True)
all_df

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철수,버정수,단지내주차면수,등록차량수
0,C2515,545,1,2,1,33.48,276,17.0,1,9216000.0,82940.0,0.0,3.0,624.0,205.0
1,C2515,545,1,2,1,39.60,60,17.0,1,12672000.0,107130.0,0.0,3.0,624.0,205.0
2,C2515,545,1,2,1,39.60,20,17.0,1,12672000.0,107130.0,0.0,3.0,624.0,205.0
3,C2515,545,1,2,1,46.90,38,17.0,1,18433000.0,149760.0,0.0,3.0,624.0,205.0
4,C2515,545,1,2,1,46.90,19,17.0,1,18433000.0,149760.0,0.0,3.0,624.0,205.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2864,C1350,1401,1,3,5,59.91,13,2.0,1,37474000.0,519350.0,1.0,6.0,1636.0,2315.0
2865,C1350,1401,1,3,5,59.92,223,2.0,1,37385000.0,516130.0,1.0,6.0,1636.0,2315.0
2866,C1350,1401,1,3,6,51.99,146,2.0,1,54612000.0,131130.0,1.0,6.0,1636.0,2315.0
2867,C1350,1401,1,3,6,59.91,32,2.0,1,63585000.0,152680.0,1.0,6.0,1636.0,2315.0
2868,C1350,1401,1,3,6,59.92,170,2.0,1,63501000.0,152480.0,1.0,6.0,1636.0,2315.0

In [55]:
all_df.to_csv('train(subway).csv',index=False)